@font-face { 
    font-family: GlosaHeadline; 
    src: url('../vendor/fonts/GlosaHeadline-Roman.woff2'); 
    font-weight: normal;
    font-style: normal;
} 

@font-face { 
    font-family: GlosaHeadline; 
    src: url('../vendor/fonts/GlosaHeadline-Black.woff2'); 
    font-weight: bold;
    font-style: normal;
}

/*---------------------------------------------*/

@font-face { 
    font-family: Roboto; 
    src: url('../vendor/fonts/Roboto-Light.ttf');
    font-weight: 100;
    font-style: normal;
} 

@font-face { 
    font-family: Roboto; 
    src: url('../vendor/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
} 

@font-face { 
    font-family: Roboto; 
    src: url('../vendor/fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
} 

@font-face { 
    font-family: Roboto; 
    src: url('../vendor/fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
} 

@font-face { 
    font-family: Roboto-Condensed; 
    src: url('../vendor/fonts/RobotoCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
} 

@font-face { 
    font-family: Roboto-Condensed; 
    src: url('../vendor/fonts/RobotoCondensed-bold.ttf');
    font-weight: bold;
    font-style: normal;
} 

@font-face { 
    font-family: Roboto-Condensed; 
    src: url('../vendor/fonts/RobotoCondensed-Light.ttf');
    font-weight: 100;
    font-style: normal;
} 

/*---------------------------------------------*/

@font-face { 
    font-family: GiorgioSans; 
    src: url('../vendor/fonts/GiorgioSans-Light-Web.woff2');
    font-weight: 100;
    font-style: normal;
} 

@font-face { 
    font-family: GiorgioSans; 
    src: url('../vendor/fonts/GiorgioSans-Medium-Web.woff2');
    font-weight: normal;
    font-style: normal;
} 

@font-face { 
    font-family: GiorgioSans; 
    src: url('../vendor/fonts/GiorgioSans-Bold-Web.woff2');
    font-weight: bold;
    font-style: normal;
} 

/*--------------------------------------------------*/


body,
html {
    width: 100%;
    height: 100%; 
}

body {
    font-family: Roboto, 'Calibri', sans-serif;
    font-size: 100%;
    color: #000;
    background-color: #ececec;
/*    line-height: 140%;*/
    
}

/*a {
  text-decoration: none!important; /* no underline */
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: GlosaHeadline, Arial, sans-serif;
}

/*
.f1 {
    font-family: Roboto, Arial, sans-serif; 
    font-weight: 100;
}

.f2 {
    font-family: Roboto, Arial, sans-serif; 
    font-weight: normal;
}

.f3 {
    font-family: Roboto, Arial, sans-serif; 
    font-weight: 500;
}

.f4 {
    font-family: Roboto, Arial, sans-serif; 
    font-weight: bold;
}

.f5 {
    font-family: GiorgioSans, Arial, sans-serif; 
    font-weight: 100;
}

.f6 {
    font-family: GiorgioSans, Arial, sans-serif; 
    font-weight: normal;
}

.f7 {
    font-family: GiorgioSans, Arial, sans-serif; 
    font-weight: bold;
}

.f8 {
    font-family: GlosaHeadline, Arial, sans-serif; 
    font-weight: normal;
}

.f9 {
    font-family: GlosaHeadline, Arial, sans-serif; 
    font-weight: bold;
}
*/



/*20px*/ /*|____|*//*10px+10px*//*|____|*//*10px+10px*//*|____|*/ /*20px*/

/*the padding of the container is 20px according to the design of mobile specification*/
.dl-container {
    background-color: transparent;
    padding-right: 20px;
    padding-left: 20px;
}


input, textarea, button {
    outline: none!important;
    box-shadow:none !important;
}

/*------------------------*/


.dl-nav {
    background-color: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 20px;
}

.navbar {
    height: 62px;
    padding: 14px 23px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    /*---------*/
    z-index: 9999;
}

.nav-link {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold;
    font-size: 19px;
}

.navbar-brand {
    margin: 0;
}

@media (min-width: 1010px) {
    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: 11.5px;
        padding-left: 11.5px;
    }
}

.nav-link {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #8A8A8A;
}

.navbar-light .navbar-nav hr {
    height: 50%;
    margin: auto 8px;
}

.navbar-light .navbar-nav .nav-link.font-light {
    font-weight: 100;
}

.top-navbar-left {
    position: absolute;
    top: -19px;
    left: 213px;
    padding-top: 2px;
    color: #606060;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    font-size: 11px;
}

.top-navbar-right {
    position: absolute;
    top: -19px;
    right: 23px;
    padding-top: 2px;
    color: #000;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    font-size: 11px;
}

.top-navbar-right a {
    padding: 0 4px;
}

.top-navbar-right strong {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
}

.top-navbar-right .navbar-navr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
}

.logo {
     position: absolute;
     top: -21px;
     left: 76px;
     z-index: 9999;
     display: inline;
    padding: 0;
}

.logo img {
    height: 100px;
    width: 107px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    /*-------*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#dl-logo-sm {
    display: none;
}

.section-container {
    margin-left: 148.5px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.nav-icon-title {
    font-family: Roboto, Arial, sans-serif;
    font-size: 9px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    margin-top: 2px;
    /*---------*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.title-menu {
    margin-top: 30px;
    margin-left: 2px;
}

.title-login {
    margin-left: 0;
}

.title-search {
    margin-left: -4px;
}

@media (min-width: 1010px) {
    .navbar-toggler-icon {
        margin-top: -14px;
    }
}

.icon-login img,
.icon-search img {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 9999;
/*    background: url(../img/icon-login.png) left top no-repeat;*/
    box-sizing:border-box;
}

.icon-search {
    margin-right: 4px;
}

.navbar hr {
    height: 100%;
    border-left: 1px solid #000;
    color: #000;
    background-color: #000;
    margin: 0 27px;
}

.navbar .icon-separator:nth-of-type(1) {
    margin: 0 27px 0 0;
}

.navbar .login-search-container {
    display: inline-flex;
}

.navbar .login-search-container .icon-separator {
    height: 33px;
}

.navbar .login-search-container .icon-login,
.navbar .login-search-container .icon-search {
    height: 25px;
}

.navbar .icon-search .icon-close,
.navbar .icon-login .icon-close,
.navbar #dropdown-navbar-toggle .icon-close {
    height: 61px;
    position: absolute;
    background-color: #e5e5e5;
    padding: 25px;
    width: 80px;
}

.navbar .icon-search .icon-close {
    top: 0;
    right: 0;
    width: 80px;
}

.navbar .icon-login .icon-close {
    top: 0;
    right: 79px;
    width: 81px;
    height: 61px;
}

.navbar #dropdown-navbar-toggle .icon-close {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e5e5e5;
    padding: 25px;
    width: 81px;
    height: 61px;
}

@media (max-width: 1009px) {
    .navbar .icon-search .icon-close {
        top: -14px;
        right: -24px;
        width: 72px;
    }

    .navbar .icon-login .icon-close {
        top: -14px;
        right: -21px;
        width: 73px;
        height: 61px;
        z-index: 9999;
    }
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../img/icon-menu.png);
    position: relative;
}


.navbar .detail-social-container {
    display: inline-flex;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.navbar .detail-social-container hr {
    margin: 2px 16px;
    height: 23px;
}

.img-as-nav-topsection {
    height: 38px;
    width: auto;
}

/*-------------------------------------*/


#dropdown-navbar {
    display: none;
}

.dropdown-nav {
    position: absolute;
    top: 61px;
    right: 0;
    left: 0;
    z-index: 1029;
    background-color: #e5e5e5;
    padding: 40px 47px 40px 23px;
/*
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
*/
}

.dropdown-nav li a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.dropdown-nav h3 {
    margin-bottom: 28px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
}

.dropdown-nav .sections-container {
    padding: 0 38px 0 10px;
    border-right: 1px solid #000;
}

@media (min-width: 1010px) {
    
    .dropdown-nav .shortcuts-container,
    .dropdown-nav .services-container {
        -webkit-flex: 0 0 20.66667%;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 20.66667%;
        max-width: 20.66667%;
    }
    
}

.dropdown-nav .sections-container ul,
.dropdown-nav .shortcuts-container ul,
.dropdown-nav .services-container ul,
.dropdown-nav .social-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-nav .sections-container ul li {
    padding: 15.5px 0;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
}

.dropdown-nav .shortcuts-container ul li,
.dropdown-nav .services-container ul li {
    padding: 1px 0;
    border-bottom: 1px solid #000;
}

.dropdown-nav .sections-container ul li:nth-child(1),
.dropdown-nav .shortcuts-container ul li:nth-child(1),
.dropdown-nav .services-container ul li:nth-child(1) {
    border-top: 1px solid #000;
}

.dropdown-nav .sections-container ul a {
    color: #000;
    font-size: 18px;
    font-family: Roboto-Condensed, Arial, sans-serif;
}

.dropdown-nav .shortcuts-container ul a, 
.dropdown-nav .services-container ul a {
    color: #000;
    font-size: 16px; 
}

.dropdown-nav #impreso {
    margin: 0;
}

.dl-impreso-container {
    padding: 0 36px 0 36px;
    border-right: 1px solid #000;
}

.dl-impreso-container .dl-impreso {
    width: 100%;
    margin-bottom: 8px;
    -webkit-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.33);
    -moz-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.33);
    box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.33);
}

.dl-impreso-container .dl-impreso:hover {
    -webkit-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.33);
    -moz-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.33);
    box-shadow: 5px 5px 6px -2.5px rgba(0,0,0,0.33);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.dropdown-nav .shortcuts-container,
.dropdown-nav .services-container {
    padding: 0 28px;
    border-right: 1px solid #000;
}

.dropdown-nav .social-container {
    width: 28px;
    padding-left: 28px;
}

.dropdown-nav .social-container hr {
    width: 100%;
    height: 1px;
    border: none;
    color: #000;
    background-color: #000;
    margin: 0 0 18px 0;
}

.dropdown-nav .social-container .social li {
    margin-bottom: 8px;
}

.dropdown-nav .social-container .social img {
    width: 28px;
}

/*---------------------------------------*/

.dropdown-nav#dropdown-search {
    padding: 40px 23px;
    width: 100%;
}

.search-container {
    padding: 20px 30px;
    background-color: #fff;
}

.search-box {
    padding: 4px 8px;
    background-color: #fff;
    border: 1px solid #8a8a8a;
}

.search-box .search-btn {
    height: 25px;
    width: 25px;
    margin: 2px;
}

.search-container .search {
    width: 100%;
    padding: 0;
    border: none;
    font-size: 20px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
}

/*---------------------------------------*/

.btn-list-toggle img {
/*
    height: 23px;
    width: 23px;
*/
    height: 31px;
    width: 31px;
    margin-top: 8px;
    float: right;
}

/*---------------------------------------*/

.login-container#dropdown-login {
    padding: 40px 33px; 
}

.login-container .login-box {
    padding: 20px 38px 20px 20px;
    background-color: #fff;

}

.login-container .login-box h1 {
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
}

.login-container .login-box input {
    width: 100%;
    border: 1px solid #8a8a8a;
    padding: 9px;
    margin: 5px 0;
}

.btn-link {
    color: #000!important;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}

.login-container .login-box .btn-register {
    background-color: #fff;
    border: 1px solid #000;
    padding: 13px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 11px;
}

/*---------*/

.login-container .social-box {
    padding: 78px 28px 20px 38px;
    background-color: #fff;

}

.login-container .social-box .btn-social {
    height: 36px;
    padding: 7px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    cursor: pointer;
}

.login-container .social-box .btn-social:hover {
    opacity: 0.5;
}

.login-container .social-box .btn-social-facebook {
    background-color: #3b5a9a;
}

.login-container .social-box .btn-social-google {
    background-color: #df4b38;
}

.login-container .social-box .btn-social img {
    height: 100%;
    width: auto;
    border-right: 1px solid #fff;
    padding-right: 5px;
    margin-right: 5px;
}

.login-container .social-box p {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 100;
    line-height: 16px;
}

.login-container .social-box p a {
    border-bottom: 1px dotted #000;
    text-decoration: none;  
    color: #000;
    font-weight: bold;
}

/*---------*/

.login-container .account-box {
    padding: 20px 20px 20px 48px;
    background-color: #fff;
}

.login-container .account-box .btn-register {
    margin-top: 5px;
}

/*---------*/

.login-container--active {
    
}

.login-options-box {
    background-color: #fff;
}

.login-options-container {
    min-width: 188px;
}

.login-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.login-options a {
    color: #000;
    font-size: 16px;
}

.login-options li {
    padding: 1px 0;
    border-bottom: 1px solid #000;
}

.login-options-container .login-options:nth-child(1) li:nth-child(1) {
    border-top: 1px solid #000;
}

.login-options.btn-list-toggle img {
    height: 16px;
    width: 16px;
    margin-top: 4px;
    float: right;
}

.login-options-box .btn-logout {
    width: 100%;
    background-color: #fff;
    border: 1px solid #000;
    padding: 13px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 11px;
}

@media (max-width: 1009px) {
    .login-container--active {
        width: 100%
    }
}





/*Change Navbar on Scroll*/
/*---------------------------------------*/

.dl-nav-simple .logo img {
    height: 55px;
    width: 55px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.dl-nav-simple {
    height: 40px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.dl-nav.dl-nav-simple {
    margin-top: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.dl-nav-simple .logo {
    top: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.dl-nav-simple .section-container {
    margin-left: 108px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.dl-nav-simple hr {
    height: 20px;
}

.dl-nav-simple .dropdown-nav {
    top: 39px;
/*
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
*/
}

.dl-nav-simple .login-search-container .icon-separator {
    height: 22px;
/*    margin-top: 4px;*/
}

.dl-nav-simple .nav-icon-title {
    display: none;
}

.dl-nav-simple .navbar-toggler-icon {
    margin-top: 0;
}


/*------------------------*/


/*-UTILITIES-*/

.publicidad {
    background-color: #d0d1d3;
    position: fixed;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    /*----------------------*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.banner-top {
    margin-bottom: 40px;
}





/*Footer*/
/*------------------------------*/

footer .dl-container {
    background-color: #fff;
}

footer h1 {
    margin-bottom: 22px;
    color: #006b4b;
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    padding: 3px 0;
    border-bottom: 1px solid #000;
}

footer ul li:nth-child(1) {
    border-top: 1px solid #000;
}

footer ul a {
    color: #000;
    font-size: 18px;
}

footer img {
    width: 85.5px;
    height: auto;
    margin-top: -40px;
}

footer .footer-copyright {
    font-size: 12px;
}

footer .footer-copyright a {
    font-weight: bold;
    color: #000;
}

footer li a:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.5;
}


/*-----------META----------*/

.h-110 {
    height: 110px;
}

.meta-img-title-info {
    background-color: #fff;
}

.meta-img-title-info hr {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #333;   
}

.meta-img-title-info h2 {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.meta-img-title-info.meta-opinion h2 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: 100;
    font-size: 26px;
    line-height: 28px;
}

.meta-img-title-info p {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
}

.meta-img-title-info  {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
}

.meta-img-title-info .date {
    text-transform: uppercase;
    font-size: 12px;
    color: #9d9d9d;
}

.meta-img-title-info .meta-super-title {
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
}

.meta-img-title-info.meta-super-title-container hr {
    border-bottom: 1px solid #006b4b;   
}

.meta-gallery {
    background-color: #1d1d1d;
}

.section-meta-gallery .container {
    background-color: #fff;
}

.section-meta-gallery .article-box {
    color: #fff;
    background-color: #1d1d1d;
}

.meta-sociales {
    color: #fff;
    background-color: #00b2b3;
}

.meta-sociales .info-container .author,
.meta-sociales .info-container .comment {
    color: #fff!important;
}

.section-meta-sociales .container {
    background-color: #00b2b3;
}

.section-meta-sociales .section-title h1 {
    color: #fff!important;
}


/*----------*/


/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/

.h-174 {
    height: 174px;
}

.h-img-ocio {
    height: 174px;
    width: auto;
}

.ocio-row .counter-container {
    position: relative;
}

.ocio-row .counter-container span {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ocio-row h1 {
    font-family: GiorgioSans, Arial, sans-serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 40px;
}

.ocio-row h2 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}

.ocio-row p {
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.time-container span {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.event-data {
    position: absolute;
    bottom: 0;
}

.ocio-row .meta {
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 0;
}

.ocio-row a {
    color: #FF338D;
}

.ocio-row .buttons-container {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #706f6f;
}

.ocio-row .buttons-container span {
    font-size: 12px;
    font-weight: normal;
    color: #c6c6c6;
}

.ocio-row .buttons-container .button-box {
    border-left: 1px solid #c6c6c6;
}

.ocio-row .buttons-container .button-box:first-child {
    border-left: none;
}

.ocio-row .buttons-container hr {
    border-bottom: 1px solid #c6c6c6;
}

.ocio-row .buttons-container img {
    width: 20px;
    margin-right: 4px;
    margin-top: -4px;
}

.ocio-row .buttons-container a {
    color: inherit;
}

.ocio-row .buttons-container a:hover {
    color: #FF338D;
}

.ocio-filter {
    background-color: rgba(255, 51, 141, 0.65);
}

.ocio-filter img {
    width: 22%;
    height: auto;
}

.ocio-filter input,
.ocio-filter select {
    width: 76%;
    margin-left: 2%;
    padding: 0 6px;
}

.ocio-filter select {
    width: 100%;
    padding: 4px 6px;
}

.ocio-filter .input-group {
    display: inline-block;
    width: 74%;
}

.ocio-filter .btn {
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #fff;
    background-color: #FF338D;
    border: 1px solid #fff;
    border-radius: 0;
    text-transform: uppercase;
    padding: 6px;
    cursor: pointer;
    margin: 0;
}

@media (max-width: 1009px) {
    .h-img-ocio {
        height: auto;
        width: 100%;
    }
    
    .h-174 {
        height: auto;
    }
    
    .event-data {
        position: inherit;
        bottom: inherit;
    }
}



