@font-face { 
    font-family: GlosaHeadline; 
    src: url('../vendor/fonts/GlosaHeadline-Roman.woff2'); 
    font-weight: normal;
    font-style: normal;
} 

@font-face { 
    font-family: GlosaHeadline; 
    src: url('../vendor/fonts/GlosaHeadline-Black.woff2'); 
    font-weight: bold;
    font-style: normal;
}

/*---------------------------------------------*/

@font-face { 
    font-family: Roboto; 
    src: url('../vendor/fonts/Roboto-Light.ttf');
    font-weight: 100;
    font-style: normal;
} 

@font-face { 
    font-family: Roboto; 
    src: url('../vendor/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
} 

@font-face { 
    font-family: Roboto; 
    src: url('../vendor/fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
} 

@font-face { 
    font-family: Roboto; 
    src: url('../vendor/fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
} 

@font-face { 
    font-family: Roboto-Condensed; 
    src: url('../vendor/fonts/RobotoCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
} 

@font-face { 
    font-family: Roboto-Condensed; 
    src: url('../vendor/fonts/RobotoCondensed-bold.ttf');
    font-weight: bold;
    font-style: normal;
} 

@font-face { 
    font-family: Roboto-Condensed; 
    src: url('../vendor/fonts/RobotoCondensed-Light.ttf');
    font-weight: 100;
    font-style: normal;
} 

/*---------------------------------------------*/

@font-face { 
    font-family: GiorgioSans; 
    src: url('../vendor/fonts/GiorgioSans-Light-Web.woff2');
    font-weight: 100;
    font-style: normal;
} 

@font-face { 
    font-family: GiorgioSans; 
    src: url('../vendor/fonts/GiorgioSans-Medium-Web.woff2');
    font-weight: normal;
    font-style: normal;
} 

@font-face { 
    font-family: GiorgioSans; 
    src: url('../vendor/fonts/GiorgioSans-Bold-Web.woff2');
    font-weight: bold;
    font-style: normal;
} 

/*--------------------------------------------------*/


body,
html {
    width: 100%;
    height: 100%; 
}

body {
    font-family: Roboto, 'Calibri', sans-serif;
    font-size: 100%;
    color: #000;
    background-color: #ececec;
/*    line-height: 140%;*/
    
}

/*a {
  text-decoration: none!important; /* no underline */
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: GlosaHeadline, Arial, sans-serif;
}

/*
.f1 {
    font-family: Roboto, Arial, sans-serif; 
    font-weight: 100;
}

.f2 {
    font-family: Roboto, Arial, sans-serif; 
    font-weight: normal;
}

.f3 {
    font-family: Roboto, Arial, sans-serif; 
    font-weight: 500;
}

.f4 {
    font-family: Roboto, Arial, sans-serif; 
    font-weight: bold;
}

.f5 {
    font-family: GiorgioSans, Arial, sans-serif; 
    font-weight: 100;
}

.f6 {
    font-family: GiorgioSans, Arial, sans-serif; 
    font-weight: normal;
}

.f7 {
    font-family: GiorgioSans, Arial, sans-serif; 
    font-weight: bold;
}

.f8 {
    font-family: GlosaHeadline, Arial, sans-serif; 
    font-weight: normal;
}

.f9 {
    font-family: GlosaHeadline, Arial, sans-serif; 
    font-weight: bold;
}
*/



/*20px*/ /*|____|*//*10px+10px*//*|____|*//*10px+10px*//*|____|*/ /*20px*/

/*the padding of the container is 20px according to the design of mobile specification*/
.dl-container {
    background-color: transparent;
    padding-right: 20px;
    padding-left: 20px;
}

/*Boxes Heigth*/
/*----------------------------*/

.h-780 {
    height: 780px;
}

.h-740 {
    height: 740px;
}

.h-678 {
    height: 678px;
}

.h-600 {
    height: 600px;
}

.h-590 {
    height: 590px;
}

.h-570 {
    height: 570px;
}

.h-550 {
    height: 550px;
}

.h-540 {
    height: 540px;
}

.h-500 {
    height: 430px;
}

.h-430 {
    height: 430px;
}

.h-420 {
    height: 420px;
}

.h-410 {
    height: 410px;
}

.h-400 {
    height: 400px;
}

.h-380 {
    height: 380px;
}

.h-360 {
    height: 360px;
}

.h-330 {
    height: 330px;
}

.h-280 {
    height: 280px;
}

.h-270 {
    height: 270px;
}

.h-260 {
    height: 260px;
}

.h-240 {
    height: 240px;
}

.h-230 {
    height: 230px;
}

.h-200 {
    height: 200px;
}

.h-190 {
    height: 190px;
}

.h-170 {
    height: 170px;
}

.h-140 {
    height: 140px;
}

.h-120 {
    height: 120px;
}

.h-90 {
    height: 90px;
}

.h-80 {
    height: 80px;
}

.w-sm-100 {
    width: 100%;
}

@media (min-width: 1010px) {
    .w-sm-100 {
        width: auto;
    }
}



/*-------*/

@media (max-width: 557px) {
    .h-xs-430 {
        height: 430px;
    }
    
    .h-xs-190 {
        height: 190px;
    }
}

/*-*/

/*------------------------*/

.fsize-22 {
    font-size: 22px!important;
}

.fsize-28 {
    font-size: 28px!important;
}

.fsize-42 {
    font-size: 42px!important;
}

.fsize-48 {
    font-size: 48px!important;
}

.fsize-47 {
    font-size: 46.7px!important;
    line-height: 46px;
}

.fsize-60 {
    font-size: 60px!important;
}

.fsize-64 {
    font-size: 64px!important;
}

/*------------------------*/

input, textarea, button {
    outline: none!important;
    box-shadow:none !important;
}

/*------------------------*/


.dl-nav {
    background-color: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 20px;
}

.navbar {
    height: 62px;
    padding: 14px 23px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    /*---------*/
    z-index: 9999;
}

.nav-link {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold;
    font-size: 19px;
}

.navbar-brand {
    margin: 0;
}

@media (min-width: 1010px) {
    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: 11.5px;
        padding-left: 11.5px;
    }
}

.nav-link {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #8A8A8A;
}

.navbar-light .navbar-nav hr {
    height: 50%;
    margin: auto 8px;
}

.navbar-light .navbar-nav .nav-link.font-light {
    font-weight: 100;
}

.top-navbar-left {
    position: absolute;
    top: -19px;
    left: 213px;
    padding-top: 2px;
    color: #606060;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    font-size: 11px;
}

.top-navbar-right {
    position: absolute;
    top: -19px;
    right: 23px;
    padding-top: 2px;
    color: #000;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    font-size: 11px;
}

.top-navbar-right a {
    padding: 0 4px;
}

.top-navbar-right strong {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
}

.top-navbar-right .navbar-navr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
}

.logo {
     position: absolute;
     top: -21px;
     left: 76px;
     z-index: 9999;
     display: inline;
    padding: 0;
}

.logo img {
    height: 100px;
    width: 107px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    /*-------*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#dl-logo-sm {
    display: none;
}

.section-container {
    margin-left: 148.5px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.nav-icon-title {
    font-family: Roboto, Arial, sans-serif;
    font-size: 9px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    margin-top: 2px;
    /*---------*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.title-menu {
    margin-top: 30px;
    margin-left: 2px;
}

.title-login {
    margin-left: 0;
}

.title-search {
    margin-left: -4px;
}

@media (min-width: 1010px) {
    .navbar-toggler-icon {
        margin-top: -14px;
    }
}

.icon-login img,
.icon-search img {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 9999;
/*    background: url(../img/icon-login.png) left top no-repeat;*/
    box-sizing:border-box;
}

.icon-search {
    margin-right: 4px;
}

.navbar hr {
    height: 100%;
    border-left: 1px solid #000;
    color: #000;
    background-color: #000;
    margin: 0 27px;
}

.navbar .icon-separator:nth-of-type(1) {
    margin: 0 27px 0 0;
}

.navbar .login-search-container {
    display: inline-flex;
}

.navbar .login-search-container .icon-separator {
    height: 33px;
}

.navbar .login-search-container .icon-login,
.navbar .login-search-container .icon-search {
    height: 25px;
}

.navbar .icon-search .icon-close,
.navbar .icon-login .icon-close,
.navbar #dropdown-navbar-toggle .icon-close {
    height: 61px;
    position: absolute;
    background-color: #e5e5e5;
    padding: 25px;
    width: 80px;
}

.navbar .icon-search .icon-close {
    top: 0;
    right: 0;
    width: 80px;
}

.navbar .icon-login .icon-close {
    top: 0;
    right: 79px;
    width: 81px;
    height: 61px;
}

.navbar #dropdown-navbar-toggle .icon-close {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e5e5e5;
    padding: 25px;
    width: 81px;
    height: 61px;
}

@media (max-width: 1009px) {
    .navbar .icon-search .icon-close {
        top: -14px;
        right: -24px;
        width: 72px;
    }

    .navbar .icon-login .icon-close {
        top: -14px;
        right: -21px;
        width: 73px;
        height: 61px;
        z-index: 9999;
    }
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../img/icon-menu.png);
    position: relative;
}


.navbar .detail-social-container {
    display: inline-flex;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.navbar .detail-social-container hr {
    margin: 2px 16px;
    height: 23px;
}

.img-as-nav-topsection {
    height: 38px;
    width: auto;
}

/*-------------------------------------*/


#dropdown-navbar {
    display: none;
}

.dropdown-nav {
    position: absolute;
    top: 61px;
    right: 0;
    left: 0;
    z-index: 1029;
    background-color: #e5e5e5;
    padding: 40px 47px 40px 23px;
/*
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
*/
}

.dropdown-nav li a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.dropdown-nav h3 {
    margin-bottom: 28px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
}

.dropdown-nav .sections-container {
    padding: 0 38px 0 10px;
    border-right: 1px solid #000;
}

@media (min-width: 1010px) {
    
    .dropdown-nav .shortcuts-container,
    .dropdown-nav .services-container {
        -webkit-flex: 0 0 20.66667%;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 20.66667%;
        max-width: 20.66667%;
    }
    
}

.dropdown-nav .sections-container ul,
.dropdown-nav .shortcuts-container ul,
.dropdown-nav .services-container ul,
.dropdown-nav .social-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-nav .sections-container ul li {
    padding: 15.5px 0;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
}

.dropdown-nav .shortcuts-container ul li,
.dropdown-nav .services-container ul li {
    padding: 1px 0;
    border-bottom: 1px solid #000;
}

.dropdown-nav .sections-container ul li:nth-child(1),
.dropdown-nav .shortcuts-container ul li:nth-child(1),
.dropdown-nav .services-container ul li:nth-child(1) {
    border-top: 1px solid #000;
}

.dropdown-nav .sections-container ul a {
    color: #000;
    font-size: 18px;
    font-family: Roboto-Condensed, Arial, sans-serif;
}

.dropdown-nav .shortcuts-container ul a, 
.dropdown-nav .services-container ul a {
    color: #000;
    font-size: 16px; 
}

.dropdown-nav #impreso {
    margin: 0;
}

.dl-impreso-container {
    padding: 0 36px 0 36px;
    border-right: 1px solid #000;
}

.dl-impreso-container .dl-impreso {
    width: 100%;
    margin-bottom: 8px;
    -webkit-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.33);
    -moz-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.33);
    box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.33);
}

.dl-impreso-container .dl-impreso:hover {
    -webkit-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.33);
    -moz-box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.33);
    box-shadow: 5px 5px 6px -2.5px rgba(0,0,0,0.33);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.dropdown-nav .shortcuts-container,
.dropdown-nav .services-container {
    padding: 0 28px;
    border-right: 1px solid #000;
}

.dropdown-nav .social-container {
    width: 28px;
    padding-left: 28px;
}

.dropdown-nav .social-container hr {
    width: 100%;
    height: 1px;
    border: none;
    color: #000;
    background-color: #000;
    margin: 0 0 18px 0;
}

.dropdown-nav .social-container .social li {
    margin-bottom: 8px;
}

.dropdown-nav .social-container .social img {
    width: 28px;
}

/*---------------------------------------*/

.dropdown-nav#dropdown-search {
    padding: 40px 23px;
    width: 100%;
}

.search-container {
    padding: 20px 30px;
    background-color: #fff;
}

.search-box {
    padding: 4px 8px;
    background-color: #fff;
    border: 1px solid #8a8a8a;
}

.search-box .search-btn {
    height: 25px;
    width: 25px;
    margin: 2px;
}

.search-container .search {
    width: 100%;
    padding: 0;
    border: none;
    font-size: 20px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
}

/*---------------------------------------*/

.btn-list-toggle img {
/*
    height: 23px;
    width: 23px;
*/
    height: 31px;
    width: 31px;
    margin-top: 8px;
    float: right;
}

/*---------------------------------------*/

.login-container#dropdown-login {
    padding: 40px 33px; 
}

.login-container .login-box {
    padding: 20px 38px 20px 20px;
    background-color: #fff;

}

.login-container .login-box h1 {
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
}

.login-container .login-box input {
    width: 100%;
    border: 1px solid #8a8a8a;
    padding: 9px;
    margin: 5px 0;
}

.btn-link {
    color: #000!important;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}

.login-container .login-box .btn-register {
    background-color: #fff;
    border: 1px solid #000;
    padding: 13px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 11px;
}

/*---------*/

.login-container .social-box {
    padding: 78px 28px 20px 38px;
    background-color: #fff;

}

.login-container .social-box .btn-social {
    height: 36px;
    padding: 7px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    cursor: pointer;
}

.login-container .social-box .btn-social:hover {
    opacity: 0.5;
}

.login-container .social-box .btn-social-facebook {
    background-color: #3b5a9a;
}

.login-container .social-box .btn-social-google {
    background-color: #df4b38;
}

.login-container .social-box .btn-social img {
    height: 100%;
    width: auto;
    border-right: 1px solid #fff;
    padding-right: 5px;
    margin-right: 5px;
}

.login-container .social-box p {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 100;
    line-height: 16px;
}

.login-container .social-box p a {
    border-bottom: 1px dotted #000;
    text-decoration: none;  
    color: #000;
    font-weight: bold;
}

/*---------*/

.login-container .account-box {
    padding: 20px 20px 20px 48px;
    background-color: #fff;
}

.login-container .account-box .btn-register {
    margin-top: 5px;
}

/*---------*/

.login-container--active {
    
}

.login-options-box {
    background-color: #fff;
}

.login-options-container {
    min-width: 188px;
}

.login-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.login-options a {
    color: #000;
    font-size: 16px;
}

.login-options li {
    padding: 1px 0;
    border-bottom: 1px solid #000;
}

.login-options-container .login-options:nth-child(1) li:nth-child(1) {
    border-top: 1px solid #000;
}

.login-options.btn-list-toggle img {
    height: 16px;
    width: 16px;
    margin-top: 4px;
    float: right;
}

.login-options-box .btn-logout {
    width: 100%;
    background-color: #fff;
    border: 1px solid #000;
    padding: 13px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 11px;
}

@media (max-width: 1009px) {
    .login-container--active {
        width: 100%
    }
}





/*Change Navbar on Scroll*/
/*---------------------------------------*/

.dl-nav-simple .logo img {
    height: 55px;
    width: 55px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.dl-nav-simple {
    height: 40px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.dl-nav.dl-nav-simple {
    margin-top: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.dl-nav-simple .logo {
    top: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.dl-nav-simple .section-container {
    margin-left: 108px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.dl-nav-simple hr {
    height: 20px;
}

.dl-nav-simple .dropdown-nav {
    top: 39px;
/*
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
*/
}

.dl-nav-simple .login-search-container .icon-separator {
    height: 22px;
/*    margin-top: 4px;*/
}

.dl-nav-simple .nav-icon-title {
    display: none;
}

.dl-nav-simple .navbar-toggler-icon {
    margin-top: 0;
}


/*------------------------*/


/*-UTILITIES-*/

.float-to-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.author {
    text-transform: uppercase;
    font-size: 12px;
}

.author--big {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.author--big + h1 {
    display: inline-block;
}

.comment:before {
    content: "";
    display: block;
    background: url("../img/comment-icon.png") no-repeat;
    width: 12px;
    height: 12px;
    float: left;
    margin: 3px 5px 0 0;
}

.img-filter-black,
.img-filter-blue,
.img-filter-pink {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.img-filter-black {
    background-color: rgba(0, 0, 0, 0.75);
}

.img-filter-blue {
    background-color: rgba(5, 206, 190, 0.47);
}

.img-filter-pink {
    background-color: rgba(255, 51, 141, 0.47);
}

.white-content {
    color: #fff!important;
}

.white-content .title-img-description-related-info .author,
.white-content .title-img-description-related-info .comment {
    color: #fff!important;
}

.white-content .list-subtitle li:before { /* the custom styled bullets */
    background-color: #fff!important;
}

.white-content .list-related li {
    padding-left: 18px;
    margin-left: -20px;
    background: url('../img/icon-related-white.png') no-repeat left top;
}

.white-content hr {
    margin-top: 14px;
    margin-bottom: 14px;
    border: 0;
    border-top: 1px solid #fff;
}

.apertura--yellow .container {
    background-color: yellow;
}

.apertura--yellow .container a {
    text-decoration: none!important;    
}

.apertura--yellow .container h1 {
    margin: 0;
    background-color: yellow;
    color: #000;
    text-transform: uppercase;
    font-family: GiorgioSans, Arial, sans-serif;
    font-weight: 100;
}

.apertura--yellow .container strong {
    font-weight: bold;
}

.lasso-sponsored h2 {
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0;
}

.lasso-sponsored--presidente .container .row {
    background-color: #00b932;
}

.publicidad {
    background-color: #d0d1d3;
    position: fixed;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    /*----------------------*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.banner-top {
    margin-bottom: 40px;
}

.section-color-title h1,
.section-title h1 {
    font-family: GiorgioSans!important;
    font-style: normal!important;
    font-weight: 100!important;
    font-size: 62px!important;
    
}

.section-color-title h1 {
    color: #fff!important;
    margin-bottom: 0;
}

.section-title h1 {
    color: #000!important;
}

.list-subtitle,
.list-related {
    list-style-type: none; /* no default bullets */
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
}

.list-subtitle li {
    padding-left: 18px;
    margin-left: -20px;
}

.list-subtitle li:before { /* the custom styled bullets */
    content: "";
    margin-right: 6px;
    margin-left: -16px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #337ec0;
    border-radius: 50%;
    margin-bottom: 2px;
}

.list-related li {
    padding-left: 18px;
    margin-left: -20px;
    background: url('../img/icon-related.png') no-repeat left top;
}

.list-related li:hover {
    opacity: 0.5;
}

.no-list-style {
    padding: 0;
    list-style-type: none;
}

.dl-link {
    text-decoration: none;
    color: #000;
}

.dl-link:hover {
    opacity: 0.5;
}

.no-shadow-hover:hover {
    box-shadow: none!important;
}

.btn-see-more-on-section {
        font-size: 12px;
        color: #000;
        background-color: #fff;
        border: 1px solid #8a8a8a;
        border-radius: 0;
        padding: 8px 14px;
}

.share-box {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    display: none;
}

.share-box .share-box-close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    z-index: 99;
}

.share-box .share-box-close:hover {
    cursor: pointer;
    opacity: 0.5;
}

.share-box h4 {
    font-family: Roboto-Condensed, Arial, sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.share-box h1 {
    font-family: GiorgioSans, Arial, sans-serif;
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 36px;
}

/*
.share-box [data-network="facebook"] {
    display: none;
}
*/

.share-box input {
    width: 100%;
    margin-bottom: 26px;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    background: transparent;
    border: none;
    color: #fff;
}

.share-box .social-share .icon-group {
    display: inline-block;
    
}

.share-box .social-share .icon-group span {
    display: block;
    font-size: 14px;
}

.share-box .social-share img {
    width: 45px;
    height: 45px;
    margin-bottom: 2px;
}

@media (max-width: 557px) {
    .bg-xs-transparent {
        background-color: transparent!important;
        color: #fff;
    }
}

.promo-title {
    font-size: 59px!important;
}

.bg-transparent {
        background-color: transparent!important;
        color: #fff;
    }

/*----------------------------*/


/*ARTICLE BOX*/
/*article-box*/
/*----------------------------*/

.article-box {
    background-color: #fff;
}

.article-box:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.article-box-no-cursor {
    background-color: #fff;
}

.article-box-no-cursor:hover {
    cursor: default;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

h1:hover {
    opacity: 0.5;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.article-box-content {
    padding: 20px;
}

.article-box-list {
    width: 100%;
}

.info-container {
    width: 100%;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 10px;
}


.font-light h2 {
    font-weight: 100!important;
}

.font-condensed h1 {
    font-family: Roboto-Condensed, Arial, sans-serif!important;
    font-weight: 500!important;
}

.font-roboto h1 {
    font-family: Roboto!important;
}

.box-over-img {
    position: absolute;
    top: 0;
    left: 0;
}

.box-big-img h3 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-size: 18px;
}

.box-big-img h1 {
    font-family: GiorgioSans!important;
    font-style: normal!important;
    font-weight: 100!important;
    font-size: 50px!important;
}

.advertising-box h2 {
    font-family: Roboto-Condensed, Arial, sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase;
}

.advertising-box .author {
    color: #000;
    text-transform: none;
}

.advertising-big-box {
    position: relative;
}

.advertising-big-box .img-cover {
    width: 100%;
}

.advertising-big-box h1 {
    font-family: GiorgioSans;
    font-style: normal!important;
    font-weight: 100!important;
    font-size: 60px!important;
}

.advertising-big-box h2 {
    font-family: Roboto, Arial, sans-serif!important;
    font-size: 16px!important;
}

.advertising-big-box hr {
    height: 1px;
    border: none;
    color: #fff;
    background-color: #fff;
    margin: 0;
}

.advertising-big-box .img-title h1 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-size: 28px!important;
    font-weight: bold!important;
}

.advertising-big-box .img-title img {
    width: 100%;
    object-fit: cover;
}

.advertising-big-box .patrocinado-por h2 {
    font-weight: 100;
    font-size: 12px!important;
}

.advertising-big-box .advertising-big-box-btn {
    width: 100%;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #8a8a8a;
    border-radius: 0;
    padding: 8px 14px;
    text-transform: uppercase;
}

@media (max-width: 1009px) {
    .advertising-big-box .box-over-img {
        position: static;
    }
}


/*COLOR BOX*/
/*blue-box*/
/*----------------------------*/
.box-blue {
    color: #fff;
    background: #337ec0;
}

.box-green {
    color: #fff;
    background: #2bb842;
}

.box-emerald {
    color: #fff;
    background: #00b2b3;
}

.box-blue a,
.box-green a,
.box-emerald a,
.box-red a,
.box-pink a,
.esmerald-box a,
.box-transparent {
    color: #fff!important;
}

.box-yellow {
    background-color: #d7c600;
}

.box-yellow .author {
    display: block;
    color: #fff!important;
    font-size: 15px;
    font-weight: 100;
}

.box-yellow .comment {
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 30px;
}

.box-yellow .comment::before {
    background: none;
}

.box-red {
    color: #fff;
    background: #ff3333;
}

.box-pink {
    color: #fff;
    background: #ff338d;
}

.esmerald-box {
    color: #fff;
    background-color: #33c1c2;
}

.box-transparent {
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.52) 52%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.52) 52%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.52) 52%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.box-transparent .author {
    color: #fff!important;
}



/*COVER NEWS*/
/*title-img-description-related-info*/
/*----------------------------*/

.title-img-description-related-info {
    position: relative;
    padding-bottom: 10px!important;
}

.title-img-description-related-info h1 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.title-img-description-related-info img {
    width: 100%;
    object-fit: cover;
}

.title-img-description-related-info ul {
    margin: 0;
    padding-left: 12px;
}

.title-img-description-related-info .date {
    color: #8a8a8a;
}

.title-img-description-related-info .author,
.title-img-description-related-info .comment {
    color: #337ec0;
}

.title-img-description-related-info .comment {
    font-weight: bold;
}

.title-img-description-related-info .date.live {
    margin-top: -2px;
    padding: 2px 8px;
    background-color: #000;
    color: yellow;
}

.title-img-description-related-info .date.live:before {
    content: "";
    margin-right: 5px;
    margin-left: 0px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    margin-bottom: 0px;
}


/*FORM*/
/*form*/
/*---------------------------*/

.form {
    background-color: #fbf9e5;
    border: 2px solid #d7c600;
    padding: 0;
    position: relative;
    margin: 0 auto;
    z-index: 0;
    position: relative;
}

.form:after {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
}

.form:hover:after {
    background-color: transparent;
    border: 1px solid #d7c600;
    margin: 0;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.form h1 {
    font-family: GiorgioSans, Arial, sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #d7c600;
}

.form legend {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.form fieldset {
    margin-bottom: 0;
}

.form .form-check-label {
    padding-left: 6px;
}

.form .form-check-input:only-child {
    position: absolute;
}

.form .form-check-input {
    margin-left: -1.5rem;
}

.form .form-btn {
    width: 100%;
    background-color: #fff;
    border: 1px solid #8a8a8a;
    border-radius: 0;
    padding: 8px 14px;
    font-size: 12px;
    text-transform: uppercase;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #8a8a8a;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #8a8a8a;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*SIMPLE NEWS*/
/*title-info*/
/*---------------------------*/

.title-info {
    position: relative;
}

.title-info h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.title-info .author a {
    color: #337ec0;
}

.title-info img {
    width: 100%;
    object-fit: cover;
}


/*Banners*/
/*------------------------------*/

.banner-container img {
    width: 100%;
    height: auto;
}

/*------------------------------*/



/*News with Image*/
/*------------------------------*/

.img-title-info {
    position: relative;
}

.img-title-info img {
    width: 100%;
    object-fit: cover;
}

.img-title-info h2 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
}


/*News with Image*/
/*------------------------------*/

.img-title-subtitle-info {
    position: relative;
}

.img-title-subtitle-info img {
    width: 100%;
    object-fit: cover;
}

.img-title-subtitle-info h1 {
    font-family: GiorgioSans, Arial, sans-serif;
    font-weight: 100;
    font-size: 48px;
    line-height: 38px;
}

.img-title-subtitle-info h2 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
}


/*Opinion Box*/
/*

.opinion {
    background-color: #fff;
    border: 2px solid #00643d;
    padding: 0;
    position: relative;
    margin: 0 auto;
    z-index: 0;
    position: relative;
}

.opinion:after {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
}

.opinion:hover:after {
    background-color: transparent;
    border: 1px solid #00643d;
    margin: 0;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.opinion span {
    color: #00643d;
    font-weight: 500;
}

.opinion h2 {
    font-size: 16px;
    margin-bottom: 0;
}

.opinion h1 {
    font-weight: 100;
    font-size: 28px;
}

.opinion hr {
    width: 52px;
    height: 2px;
    border: none;
    color: #d0d1d3;
    background-color: #d0d1d3;
    margin-top: 8px;
    margin-bottom: 5px;
}
*/


/*Estilos's Section*/
/*------------------------------*/

.estilos-logo {
    width: 240px;
}

@media (max-width: 557px) {
    .estilos-logo {
        width: 140px;
    }
}

.section-estilos .title-info h1 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 44px;
    letter-spacing: -2px;
}

.section-estilos .img-title-info h2 {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
}

.section-estilos a {
    color: #00b2b3!important;
}


/*Tiempo Libre's Section*/
/*------------------------------*/

.section-tiempo-libre .section-title h1 {
    font-size: 80px!important;
    color: #fff!important;
}

.section-tiempo-libre .title-info h1 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 44px;
    letter-spacing: -2px;
}

.section-tiempo-libre .img-title-info h2 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
}

.section-tiempo-libre a {
    color: #ff338d!important;
}


/*Video's Section*/
/*------------------------------*/

.section-videos .dl-container {
    background-color: #222222;
}

.section-videos .cover-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-videos .cover-video-container {
    position: relative;
}

.icon-over-img-container {
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.icon-over-img {
    height: 31px;
    width: auto!important;
}

.section-videos .article-box {
    background-color: transparent;
    color: #fff;
}

.section-videos .article-box img {
    width: 100%;
    object-fit: cover;
}

.section-videos h1 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #fff;
    margin-bottom: 0;
    margin-top: -6px;
}

.section-videos .img-title h2 {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
}

.section-videos hr {
    height: 1px;
    border: none;
    color: #fff;
    background-color: #fff;
    margin: 0;
}

@media (min-width: 1010px) {
    
    .section-videos .video-box-micro:nth-last-of-type(2) hr,
    .section-videos .video-box-micro:nth-last-of-type(1) hr {
        display: none;
    }
}

.video-filter {
    
}

.video-filter a {
    width: 100%;
    margin: 0;
    padding: 8px;
    border: 1px solid #727272!important;
    border-radius: 0!important;
    background-color: transparent;
    color: #b9b9b9;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
}

.video-filter a:hover {
    color: #fff!important;
    border: 1px solid #fff!important;
    cursor: pointer;
}

.video-filter a.active {
    border: 1px solid #fff!important;
    background-color: #fff!important;
    color: #000!important;
    cursor: default;
}


/*Deportes 2's Section*/
/*------------------------------*/

.section-deportes-2 .dl-container {
    background-color: #d23347;
}

.section-deportes-2 .cover-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-deportes-2 .cover-video-container {
    position: relative;
}

.section-deportes-2 .author {
    color: #d23347;
}

.icon-over-img {
    height: 31px;
    width: auto!important;
}

/*-*/

.section-deportes-2 .deportes-statistics {
    background-color: #292929;
    color: #fff;
}

.section-deportes-2 .deportes-statistics h1 {
    width: 100%;
    font-family: GiorgioSans, Arial, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #d23347;
    text-transform: uppercase;
    line-height: 60px;
}

.section-deportes-2 .deportes-statistics h2 {
    width: 100%;
    font-family: GiorgioSans, Arial, sans-serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 0;
}

@media (max-width: 557px) {
    .section-deportes-2 .deportes-statistics h2 {
        line-height: 1;
    }
}

.section-deportes-2 .deportes-statistics table {
    border-collapse: collapse;
    width: 100%;
}
.section-deportes-2 .deportes-statistics th, td {
    padding: 6px 0;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}

.section-deportes-2 .deportes-statistics tbody td {
    padding: 6px 0;
    border-bottom: 1px dotted #fff;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}
.section-deportes-2 .deportes-statistics .static {
    max-width: 40px;
    min-width: 40px;
}
.section-deportes-2 .deportes-statistics .fluid {
    width: 50%;
}

.section-deportes-2 .deportes-statistics tr td:nth-child(2) {
    color: #d23347;
    text-align: center;
}

.section-deportes-2 .deportes-statistics tr td:nth-child(3) {
    text-align: right;
}

.section-deportes-2 hr {
    width: 100%;
    height: 1px;
    border: none;
    color: #fff;
    background-color: #fff;
    margin: 0;
}



/*-*/

.section-deportes-2 .img-title h1 {
    font-size: 42px;
    font-weight: bold;
    font-family: GlosaHeadline, Arial, sans-serif;
    line-height: 42px;
}

.section-deportes-2 .article-box img {
    width: 100%;
    object-fit: cover;
}

.video-filter button {
    width: 100%;
    margin: 0;
    padding: 8px;
    border: 1px solid #727272;
    background-color: transparent;
    color: #b9b9b9;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}

.video-filter button:hover {
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.video-filter button.active {
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    cursor: default;
}

/*----------*/

.video-menu-toggle:focus {
    color: #fff;
    border: 1px solid #fff;
}

.video-toggle {
    width: 100%;
    padding-right: 10px;
    position: absolute;
    background-color: #222222;
    z-index: 999;
}

.video-toggle a {
    text-align: left;
    color: #fff!important;
}


/*Sociales's Section*/
/*------------------------------*/

.section-sociales .dl-container {
    background-color: #00b2b3;
}

.section-sociales .author {
    color: #00b2b3;
}


/*Jose's Section*/
/*------------------------------*/

.section-jose .dl-container {
    background-color: #4d8fc8;
}

.section-jose .author {
    color: #4d8fc8;
}


/*Deportes's Section*/
/*------------------------------*/

.section-deportes .dl-container {
    background-color: #d23347;
    color: #fff;
}

.section-deportes h1 {
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 62px;
}

.section-deportes h2 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.section-deportes .related-news img {
    width: 100%;
    object-fit: cover;
}

.section-deportes .related-news hr {
    width: 100%;
    height: 1px;
    border: none;
    color: #fff;
    background-color: #fff;
    margin: 0;
}

.section-deportes h3 {
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 17px;
}


/*Patrocinado's Section 2*/
/*------------------------------*/

.section-patrocinado .dl-container {
    background-color: #2bb842;
    color: #fff;
}

font-size: 28px;

.section-patrocinado h1 {
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 62px;
}

.section-patrocinado h2 {
    font-family: GlosaHeadline, Arial, sans-serif !important;
    font-weight: bold;
    font-size: 28px !important;
}

.section-patrocinado .patrocinado-por 

.section-patrocinado .related-news img {
    width: 100%;
    object-fit: cover;
}

.section-patrocinado .related-news hr {
    width: 100%;
    height: 1px;
    border: none;
    color: #fff;
    background-color: #fff;
    margin: 0;
}

.section-patrocinado h3 {
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 17px;
}


/*Services's Section*/
/*------------------------------*/

.section-services .icon-box {
    margin-bottom: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: #646464;
    background-image: linear-gradient(to left,
    transparent,
    transparent 50%,
    #7b7b7b 50%,
    #7b7b7b);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .20s ease-in;
}

.section-services .icon-box:hover {
    background-position: 0 0;
}

.section-services .icon-box img {
    width: 100%;
    max-width: 80px;
}

.section-services span {
    text-transform: uppercase;
    font-size: 12px;
    color: #646464;
}


/*Gastroclub's Section*/
/*------------------------------*/

.section-gastroclub .article-box {
    border: 4px solid #000;
    text-transform: uppercase;
}

.section-gastroclub .article-box .author {
    color: #000;
}

.section-gastroclub .esmerald-box {
    background-color: #33c1c2;
}

.section-gastroclub .esmerald-box h2 {
    color: #000;
}

.section-gastroclub .esmerald-box a,
.section-gastroclub .esmerald-box a {
    color: #000!important;
}

.section-gastroclub span {
    text-transform: uppercase;
    font-size: 12px;
    color: #646464;
}


/*Opinion's Section*/
/*------------------------------*/

.section-opinion .arrow {
    border: solid #006b4b;
    border-width: 0 2px 2px 0;
}

.section-opinion .img-title-info h2 {
    font-size: 24px;
}

.opinion {
    background-color: #fff;
    border: 1px solid #006b4b;
    padding: 0;
    position: relative;
    margin: 0 auto;
    z-index: 0;
    position: relative;
}

.opinion:after {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
}

.opinion:hover:after {
    background-color: transparent;
    border: 1px solid #368264;
    margin: 0;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.opinion-color {
    background-color: #006b4b;
    color: #fff;
}

.opinion-color:after {
    border: transparent;
}

.opinion-color:hover:after {
    border: 1px solid #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.opinion img {
    display: inline!important;
    object-fit: none;
    width: auto!important;
    height: auto;
    position: relative;
    bottom: 0;
}

.opinion span,
.firmas span {
    color: #006b4b;
    font-weight: normal;
}

.opinion-color span {
    color: #fff;
}

.opinion h3,
.firmas h3 {
    font-size: 16px;
    margin-bottom: 0;
}

.opinion h2 {
    font-size: 29px;
}

.opinion h2,
.firmas h2 {
    font-weight: 100;
}

.opinion h4, 
.firmas h4 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.opinion h2 + h4 {
/*    font-family: GlosaHeadline, Arial, sans-serif;*/
    font-size: 18px;
}

.opinion.opinion-color h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
}

.opinion hr,
.firmas hr {
    width: 52px;
    height: 1px;
    border: none;
    color: #006b4b;
    background-color: #000;
    margin-top: 8px;
    margin-bottom: 5px;
}

.opinion-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (max-width: 1009px) {
    .opinion-img {
        position: inherit;
        width: 100%;
    }
    
    .opinion.opinion-color h3 {
        position: inherit;
        margin-bottom: 20px;
    }
}

.caricaturas {
    background-color: #fff;
    border: 1px solid #006b4b;
}

.caricaturas span {
    color: #006b4b;
    font-weight: normal;
}

.otras-firmas {
    background-color: #fff;
    border: 1px solid #006b4b;
}

.otras-firmas .section-title h1 {
    font-size: 42px!important;
    color: #006b4b!important;
}

.otras-firmas span {
    color: #006b4b;
    font-weight: normal;
}

.otras-firmas .firmas-divisor {
    height: 100%;
    margin: 0 16px;
    border-left: 1px solid #000;
    color: #000;
    background-color: #000;
    display: inline;
}

.firmas h2 {
    font-size: 18px!important;
}

@media (min-width: 1010px) {

    .firmas-box {
        border-right: 1px solid #006b4b;
    }
    
    .otras-firmas .owl-item:nth-of-type(8) .firmas-box {
        border-right: none;
    }
    
}




/*Imagen del día's Section*/
/*------------------------------*/

.section-imagen .dl-container {
    background-color: #202020;
    color: #fff;
}

.section-imagen .dl-container h2 {
    background-color: #202020;
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 18px;
}

.section-imagen .dl-container h2 span {
    display: block;
    color: #ffed00;
}

.section-imagen .dl-container p {
    line-height: 20px;
}

.section-imagen .dl-container .author {
    font-size: 12px;
}

.section-imagen .dl-container .author::before {
    content: "Foto: ";
}

.section-imagen .imagen-btn {
    width: 100%;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #8a8a8a;
    border-radius: 0;
    padding: 8px 14px;
}


/*Newsletter's Section*/
/*------------------------------*/

.section-newsletter .article-box-no-cursor {
    background-color: #fff;
    border: 1px solid #8a8a8a;
}

.section-newsletter input {
    width: 100%;
    padding: 6px 3px;
    border: none;
}

.section-newsletter .newsletter-btn {
    width: 100%;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #8a8a8a;
    border-radius: 0;
    padding: 8px 14px;
}

/*Gallery's Section*/
/*------------------------------*/

.section-gallery .container {
    background-color: #1d1d1d;
}

.btn-see-gallery {
    width: 100%;
    font-size: 12px;
    color: #000;
    background-color: #fff;
    border: 1px solid #8a8a8a;
    border-radius: 0;
    padding: 8px 14px;
}

.gallery-intro {
    position: relative;
}

.gallery-intro h1 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    margin-bottom: 36px;
}

.gallery-intro p {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 36px;
}

.gallery-intro .gallery-date {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
}

.gallery-slide h2 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 18px;
}

.gallery-slide p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
}

.gallery-slide p a {
    font-weight: normal;
    border-bottom: 1px dotted #fff;
    text-decoration: none;  
    color: #fff;
}

.gallery-counter {
    font-family: GiorgioSans, Arial, sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-top: -10px;
    margin-bottom: -6px;
}

.gallery .owl-nav {
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.gallery .owl-nav .owl-prev {
    float: left;
    pointer-events: visible;
}

.gallery .owl-nav .owl-next {
    float: right;
    pointer-events: visible;
}

.gallery .owl-item {
    opacity: 1;
}

.gallery .black-carousel img {
    max-height: 350px;
}

.gallery .content-capsule {
    border: none;
}

.gallery .share-box {
    height: 350px;
    width: 100%;
    background-color: #3d3d3c;
    color: #fff;
    display: inline-block;
    position: relative;
}

.gallery .arrows-content {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
    padding: 0 20px;
    top: 45%;
    transform: translateY(-50%);
}

.gallery .arrows-content .owl-prev {
    position: absolute;
    left: 0;
/*    top: 44%;*/
/*    transform: translateY(-50%);*/
    margin: 0 20px;
}

.gallery .arrows-content .owl-next {
    position: absolute;
    right: 0;
/*    top: 44%;*/
/*    transform: translateY(-50%);*/
    margin: 0 20px;
}

.owl-prev-container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 8%;
    background-color: #2b2b2b;
    opacity: 0.5;
    pointer-events: visible;
    cursor: pointer;
}

.owl-next-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 8%;
    background-color: #2b2b2b;
    opacity: 0.5;
    pointer-events: visible;
    cursor: pointer;
}

.black-carousel.gallery .arrow {
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 10px;
}

@media (max-width: 557px) {
    .owl-prev-container,
    .owl-next-container {
        height: 28%;
        width: 16%;
    }
}

.botton-gallery-bar-container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.botton-gallery-bar-container .gallery-counter {
    width: fit-content;
    padding-right: 20px;
    font-size: 50px;
    margin: -20px 0 0 0;
    padding: 0 20px 0 0;
}

.botton-gallery-bar {
    height: 60px;
    background-color: #fff; 
    padding: 10px 20px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}



/*Footer*/
/*------------------------------*/

footer .dl-container {
    background-color: #fff;
}

footer h1 {
    margin-bottom: 22px;
    color: #006b4b;
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    padding: 3px 0;
    border-bottom: 1px solid #000;
}

footer ul li:nth-child(1) {
    border-top: 1px solid #000;
}

footer ul a {
    color: #000;
    font-size: 18px;
}

footer img {
    width: 85.5px;
    height: auto;
    margin-top: -40px;
}

footer .footer-copyright {
    font-size: 12px;
}

footer .footer-copyright a {
    font-weight: bold;
    color: #000;
}

footer li a:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.5;
}


/*BLACK BOX*/
/*------------------------------*/

.black-box {
    background-color: #242424;
    border: 2px solid #de007b;
    padding: 0;
    position: relative;
    margin: 1px auto;
    z-index: 0;
    position: relative;
    box-shadow: 1px solid #333;
    transition: all .10s ease-in;
}

.black-box:hover {
    background-color: transparent;
}

.black-box:before {
    background-color: #242424;
    border: 1px solid #242424;
    margin: 0;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none;
    z-index: -1;
}

.black-box:hover:before {
    background-color: #242424;
    border: 1px solid #242424;
    margin: 0;
    padding: 2px;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none;
    z-index: -1;
}

.black-box:after {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
}

.black-box:hover:after {
    background-color: transparent;
    border: 1px solid #de007b;
    margin: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none;
}

.black-box span {
    color: #de007b;
    font-weight: 500;
}

.black-box h2 {
    color: #fff;
}



/*sin complejos box*/
/*---------------------------*/

.sin-complejos {
    background-color: #fff;
    border: 1px solid #00b2b3;
    padding: 0;
    position: relative;
    margin: 0 auto;
    z-index: 0;
    position: relative;
}

.sin-complejos:after {
    border: 1px solid #fff;
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
}

.sin-complejos:hover:after {
    background-color: transparent;
    border: 1px solid #00b2b3;
    margin: 0;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.sin-complejos img {
    object-fit: none;
    width: auto;
    height: auto;
    position: relative;
    bottom: 6px;
}

.sin-complejos span {
    color: #00b2b3;
    font-weight: 500;
}

.sin-complejos h3 {
    font-size: 16px;
    margin-bottom: 0;
}

.sin-complejos h2 {
    font-weight: 100;
    font-size: 28px;
}

.sin-complejos hr {
    width: 52px;
    height: 2px;
    border: none;
    color: #cacaca;
    background-color: #cacaca;
    margin-top: 8px;
    margin-bottom: 5px;
}


/*Horoscope box*/
/*---------------------------*/

.horoscope-box {
    background-color: #fff;
    border: 2px solid #ff338d;
    padding: 0;
    position: relative;
    margin: 0 auto;
    z-index: 0;
    position: relative;
}

.horoscope-box:hover:after {
    background-color: transparent;
    border: 1px solid #ff338d;
    margin: 0;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.horoscope-box img {
    object-fit: none;
    width: auto;
    height: auto;
    position: relative;
    bottom: 6px;
}

.horoscope-box .author-container {
    bottom: 18px;
    vertical-align: text-bottom;
}

.horoscope-box .author {
    text-transform: none;
    font-size: 12px;
    vertical-align: text-bottom;
}

.horoscope-box .author strong {
    text-transform: uppercase;
}

.horoscope-box .color-title {
    color: #ff338d;
}

.horoscope-box p {
    line-height: 20px;
}

.horoscope-box .description strong {
    color: #ff338d;
}

.horoscope-box .horoscope-box-btn {
    width: 100%;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #8a8a8a;
    border-radius: 0;
    padding: 8px 14px;
}


/*COLOR BOX*/
/*------------------------------*/

.color-box .color-title {
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 46px;
}

.color-box h3 {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
}

.color-box hr {
    height: 1px;
    border: none;
    color: #fff;
    background-color: #fff;
    margin-top: 6px;
    margin-bottom: 6px;
}




/*Font Size on Mobile*/
/*------------------------------*/


@media (max-width: 1009px) {

/*
    body {
        font-size: 87.5%;
    }
*/
    
    
    .title-img-description-related-info h1 {
        font-size: 38px;
    }
    
    .form h1 {
        font-size: 26px;
    }
    
    .form legend {
        font-size: 16px;
        line-height: normal;
    }
    
    .title-info h2 {
        font-size: 16px;
    }
    
    .img-title-info h2 {
        font-size: 19px;
    }
    
}


/*LIST*/
/*list*/
/*---------------------------*/

.list {
    background-color: #fbf9e5;
    border: 2px solid #d7c600;
    padding: 0;
    position: relative;
    margin: 0 auto;
    z-index: 0;
    position: relative;
}

.list:after {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
}

.list:hover:after {
    background-color: transparent;
    border: 1px solid #d7c600;
    margin: 0;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none;
}

.list .color-title {
    color: #d7c600;
    font-size: 44px;
}

.list hr {
    color: #000!important;
    background-color: #000!important;
}

.list h3 {
    font-weight: 500;
    color: #000!important;
}

.list .see-more a {
    font-size: 11px;
    font-weight: bold;
}

.list .see-more a::after {
    content: "";
    display: block;
    background: url('../img/icon-arrow-right-black.png') no-repeat top right;
    width: 16px;
    height: 20px;
    float: right;
    margin: 0 0 0 2px;
}



/*------------------------------*/

/*---------News-Detail----------*/

.section-detail {
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    line-height: 32px;
}

.section-detail .box-detail-content a {
    font-weight: normal;
    border-bottom: 1px dotted #000;
    text-decoration: none;  
    color: #000;
}

.section-detail .box-detail-content a:hover {
    opacity: 0.5;
}

/*-------------------------------------------*/

.box-detail-title {
    background-color: #fff;
}

.box-detail-title h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: GlosaHeadline, Arial, sans-serif;
    line-height: 50px;
}

.box-detail-title .list-subtitle { /* the custom styled bullets */
    padding-left: 20px;
    font-family: GlosaHeadline, Arial, sans-serif;
    font-size: 22px;
    line-height: 28px;
}

.box-detail-title .list-subtitle li:before { /* the custom styled bullets */
    content: "";
    margin-right: 10px;
    margin-left: -20px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #ff338d;
    border-radius: 50%;
    margin-bottom: 2px;
}

.entretenimiento-detail .box-detail-title .list-subtitle li {
    padding-left: 0;
}

.entretenimiento-detail .box-detail-title .list-subtitle li:before {
    margin-right: 10px;
    margin-left: 0;
}

.entretenimiento-detail .box-detail-title .list-subtitle li:before { /* the custom styled bullets */
    background-color: #ff338d;
}

.estilos-detail .box-detail-title .list-subtitle li:before { /* the custom styled bullets */
    background-color: #00b2b3;
}

.estilos-detail .topics-box h1,
.estilos-detail .related-box h1,
.estilos-detail .galeria-box h1 {
    color: #00b2b3;
}

#top-content .cover-img {
    width: 100%;
    height: auto;
}

.box-detail-title .author-container {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.author-container .author-date {
    font-size: 14px;
    color: #9d9d9d;
}

.author-container .author-date strong {
    font-weight: bold;
    border-bottom: 1px dotted #000;
}

.author-container a {
    font-size: 16px;
    color: #000;
}

.author-container hr {
    height: 100%;
    margin: 0 16px;
    border-left: 1px solid #000;
    color: #000;
    background-color: #000;
    display: inline;
}

.author-container img {
    height: 100%;
    width: auto;
}

.author-container a:last-child img {
    padding-right: 16px;
}

.author-container .social-container a {
    text-decoration: none!important;
    border-bottom: 0!important;
}

.author-container .social-container a:hover {
    text-decoration: none;
}

.box-detail-content {
    background-color: #fff;
}

.box-detail-content img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.horoscope-container .social-container img {
     width: auto; 
     margin-bottom: 0; 
}

.horoscope-container hr {
    border-top: 1px solid #000;
    margin-top: 0;
    margin-bottom: 0;
}

.horoscope-box-container h3 {
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    color: #ff338d;
    text-transform: uppercase;
}

.horoscope-box-container span {
    font-weight: bold;
}

.horoscope-box-container .horoscope-date {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #656565;
}

.box-detail-content figure {
    position: relative;
    border-bottom: 2px solid #cacaca;
}

.box-detail-content figcaption {
/*    padding-bottom: 10px;*/
    margin-bottom: 10px;
    color: #656565;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
}

figcaption .img-author {
    text-transform: uppercase;
    font-size: 12px;
}

/*
.box-detail-content p {
    line-height: 28px;
    font-weight: normal;
}
*/

/*
.box-detail-content p a {
    border-bottom: 1px dotted #000;
    text-decoration: none;  
    color: #000;
}
*/

.content-capsule {
    position: relative;
    border: 1px solid #cacaca;
}

.content-capsule h3 {
    margin-bottom: 22px;
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 24px;
}

.content-capsule p {
    line-height: 26px;
    font-weight: normal;
}

.content-capsule b {
    font-weight: bold;
}

.content-capsule.list-detail li {
    border-bottom: 2px solid #cacaca;
    padding: 4px 0;
}

.content-capsule.list-number ol {
    padding: 4px 0 0 18px;
    counter-reset: item;
    list-style: none;
    line-height: 28px;
}

.content-capsule.list-number ol li {
    counter-increment: item;
}

.content-capsule.list-number ol li:before {
    content: counter(item)".";
    font-weight: bold;
    display: inline-block;
    margin-left: -18px;
    margin-right: 4px;
}

.content-capsule li:last-child {
    border-bottom: none;
}

.content-capsule.cita p {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 24px;
}

.cita-author{
    display: block;
    font-weight: bold;
    line-height: 18px;
    color: #005eb4;
}

.topics-box h1,
.galeria-box h1,
.related-box h1 {
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    color: #ff338d;
}

.topics-box li {
    display: inline;
    border-bottom: 0;
    padding: 4px;
    font-weight: bold;
}

.topics-box li a {
    border-bottom: 1px dotted #000;
    text-decoration: none;  
    color: #000;
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold!important;
    font-size: 20px;
}

.topics-box li a:hover {
    opacity: 0.5;
}

.galeria-box hr,
.relates-box hr {
    width: 100%;
    height: 1px;
    border: none;
    color: #cacaca;
    background-color: #cacaca;
    margin: 26px 0;
}

.section-mas-leidas .mas-leidas-box {
    min-height: 103px;
    border-bottom: 1px solid #000;
}

.section-mas-leidas h1 {
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
}

.section-mas-leidas .number {
    font-family: GiorgioSans, Arial, sans-serif;
    font-size: 80px;
    font-weight: 100;
    color: #337ec0;
    line-height: 54px;
    text-align: right;
}

.section-mas-leidas .title {
    line-height: 18px;
    font-weight: bold;
}

.section-mas-leidas .title a {
    text-decoration: none;
    color: #000;
}

/*------------*/


.share-btn {
    height: 36px;
    width: 42px;
    margin-top: -21px;
    padding: 2px 0;
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 4px;
    position: relative;
    text-align: center;
    /*-----------------*/
    -webkit-box-shadow: 4px 4px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 11px -4px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 11px -4px rgba(0,0,0,0.75);
    /*-----------------*/
    position: absolute;
    left: -66px;
    /*-----------------*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.share-btn--image {
    margin-top: 0;
}

.share-btn:hover {
    -webkit-box-shadow: 1px 1px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 11px -4px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 11px -4px rgba(0,0,0,0.75);
    transition: 0.5;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

/* this CS forms the triangles */
.share-btn:after,
.share-btn:before {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
}


/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.share-btn:after {
    top: 12px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 7px solid transparent;
    border-left: 7px solid #fff;
}

/* this border color controlls the outside, thin border */
.share-btn:before {
    top: 11px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid #cacaca;
}

.share-btn .share-icon {
    height: 29px;
    width: 29px;
    margin-bottom: 0;
    display: block;
}

.share-btn-mobile {
    height: auto;
    position: static;
    display: block;
    float: right;
    margin-top: -18px;
    margin-right: -14px;
    border-radius: 0;
    border: none;
    border-left: 2px solid #cacaca;
    box-shadow: none;
}

figure .share-btn-mobile {
    margin-top: -10px;
    margin-right: 0;
}

.share-btn-mobile:hover {
    box-shadow: none;
}

.share-btn-mobile::after,
.share-btn-mobile::before {
    display: none;
}

/*------------------------------*/

.fixed {
    position: fixed;
    top: 0;
    width: 299.98px;
    margin-top: 50px;
}

.bottom {
    position: absolute;
    bottom: 0;
    top: auto;
    width: 299.98px;
}
    
    













/*Auto Height on Mobile*/
/*------------------------------*/

@media (max-width: 557px) {
    /*Boxes Height*/
    .h-xs-auto {
        height: auto;
    }
    
    
    /*-UTILITIES-*/
    .float-to-bottom {
        position: static;
    }
    
    .info-container {
        position: static;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 0!important;
        padding-right: 0!important;
        padding-left: 0!important;
    }
    
    .h-xs-100 {
        height: 100%!important;
    }
    
    /*Newsletter*/
    footer .footer-copyright {
        background-color: #fff;
    }
    
    /*Full width Box on mobile*/
    .full-width-xs {
        margin-right: -20px;
        margin-left: -20px;
    }
    
}

/*------------------------------*/


/*Auto Height on tablet*/
/*------------------------------*/

@media (max-width: 1009px) {
    /*Boxes Height*/
    .h-sm-auto {
        height: auto;
    }
    
    /*Newsletter*/
    .section-newsletter .article-box-no-cursor {
        background-color: transparent;
        border: none;
        padding: 0;
    }
    
    .section-newsletter .article-box-no-cursor:hover {
        box-shadow: none;
    }

    .section-newsletter input {
        border: 1px solid #8a8a8a;
        content: "hola";
        padding: 6px;
    }

/*
    .section-newsletter .newsletter-btn {
        width: auto;
        float: right;
        margin-top: 4px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        padding:0;
    }
*/
    
/*
    .section-newsletter .newsletter-btn::after {
        content: " >"
    }
*/
    
    .section-videos hr {
        margin-top: 20px;
    }
    
    .form .form-btn {
        padding: 8px 0;
    }
    
    /*-UTILITIES-*/
    .horoscope-box .float-to-bottom {
        position: static;
    }
    
    .btn-see-more-on-section {
        width: 100%;
        font-size: 12px;
        color: #000;
        background-color: #fff;
        border: 1px solid #8a8a8a;
        border-radius: 0;
        padding: 8px 14px;
    }
    
    .info-container-static-sm {
        position: static;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 0!important;
        padding-right: 0!important;
        padding-left: 0!important;
    }
    
    
    /*-----------MENU----------*/
    
    .navbar-toggler {/*-*/
        display: none;
    }
    
    #dropdown-navbar-toggle {/*-*/
        display: table;
        padding-top: 0;
    }

    .navbar {/*-*/
        height: 62px;
        padding: 14px 20px;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
    }

    .top-navbar-left {/*-*/
        display: none!important;
    }

    .top-navbar-right {/*-*/
        display: none!important;
    }

    .logo {/*-*/
         position: absolute;
         top: -16px;
         left: 70px;
         z-index: 9999;
         display: inline;
        padding: 0;
    }

    .logo img {/*-*/
        height: 90px;
        width: 96.3px;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
    }
    
    .nav-icon-title {
        display: none;
    }

    .icon-login img,
    .icon-search img {/*-*/
        height: 31px;
        width: 31px;
        display: table;
    }
    
    .icon-login {/*-*/
        position: absolute;
        top: 14px;
        right: 92px;
    }

    .icon-search {/*-*/
        position: absolute;
        top: 14px;
        right: 20px;
    }

    .navbar hr {/*-*/
        display: table;
        height: 33px;
        margin: 0!important;
    }
    
    .navbar .icon-separator {/*-*/
        height: 32px!important;
    }
    
    .navbar .icon-separator:nth-of-type(1) {/*-*/
        position: absolute;
        top: 14px;
        right: 143px;
    }
    
    .navbar .icon-separator:nth-of-type(2) {/*-*/
        position: absolute;
        top: 14px;
        right: 71px;
    }
    
    /*-------*/
    
    .dl-nav-simple.detail-nav .section-container {
        margin-top: -44px;
        margin-left: 128px;
        display: inline-block;
        margin-right: 136px;
    }
    
    .dl-nav-simple.detail-nav .section-container a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .dl-nav-simple.gallery-nav .section-container {
        margin-right: 4px;
    }
    
    .dl-nav-simple.gallery-nav .section-container li:first-child {
        display: none;
    }
    
    .section-gallery,
    .section-gallery .container {
        height: 100%;
    }
    
    /*----------------*/

    .dropdown-nav h3 {/*-*/
        margin-bottom: 14px;
        font-weight: bold;
    }

    .dropdown-nav .sections-container {/*-*/
        padding: 0 40px;
        border-right: none;
    }
    
    .dropdown-nav .list-toggle {/*-*/
        margin-left: 32px!important;
    }

    .dropdown-nav .sections-container ul li {/*-*/
/*        padding: 6.5px 0;*/
        padding: 4.5px 0;
        text-transform: none;
        font-family: Roboto-Condensed, Arial, sans-serif!important;
        font-weight: 100;
    }

    .dropdown-nav .shortcuts-container ul li,
    .dropdown-nav .services-container ul li {/*-*/
        padding: 6.5px 0;
    }

    .dropdown-nav .shortcuts-container,
    .dropdown-nav .services-container {/*-*/
        padding: 0 40px;
        border-right: none;
    }
    
    .dropdown-nav .services-container ul li:nth-child(1) {/*-*/
        border-top: none;
    }
    
    .dropdown-nav .services-container ul li:nth-child(2) {/*-*/
        border-top: none;
    }

    .dropdown-nav .social-container {/*-*/
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }

    .dropdown-nav .social-container hr {/*-*/
        display: none;
    }

    .dropdown-nav .social-container ul {/*-*/
        display: inline-flex;
    }
    
    .dropdown-nav .social-container .social li {/*-*/
        margin: 0 20px;
        
    }

    .dropdown-nav .social-container .social img {/*-*/
        width: 40px;
    }
    
    .dropdown-nav .sections-container ul a {
        font-family: Roboto, 'Calibri', sans-serif;
    }
    
    .dropdown-nav .sections-container ul a,
    .dropdown-nav .shortcuts-container ul a, 
    .dropdown-nav .services-container ul a {
        font-size: 30px;
        font-weight: 100;
    }
    
    .dropdown-nav h3 {
        font-size: 18px;
    }

    
    /*----------------*/
    
    /*---------------------------------------*/
    
    .login-container#dropdown-login {
        height: 100vh;
        overflow-y: visible;
    }

    .login-container .login-box {/*-*/
        padding: 10px 20px 10px 20px;
        background-color: transparent;

    }

    /*---------*/

    .login-container .social-box {/*-*/
        padding: 20px 20px 10px 20px;
        background-color: transparent;

    }

    /*---------*/

    .login-container .account-box {/*-*/
        padding: 10px 20px 20px 20px;
        background-color: transparent;
    }
    
    .dropdown-nav#dropdown-search {/*-*/
        padding: 40px 23px 0 23px;
        height: auto;
    }
    
    .search-container {
        background-color: transparent;
    }
    
    /*---------*/
    
    .author-container .social-container {
        display: none;
    }
    
    .author-container .author-date strong {
        display: table;
    }

    /*---------------------------------------*/

    
    /*Change Navbar on Scroll*/
    /*---------------------------------------*/

    .dl-nav-simple .logo img {/*-*/
        height: 62px;
        width: 62px;
    }

    .dl-nav-simple .logo {/*-*/
        top: -1px;
    }

    .dl-nav-simple .dropdown-nav {/*-*/
        top: 61px;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
}

/*------------------------------*/

/*-----------Carousel of images-----------*/


.black-carousel {
    background-color: #000;
}

.black-carousel img {
    display: block;
    width: auto!important;
    max-width: 100%;
    max-height: 300px;
}

.black-carousel .arrow {
  border: solid #00b2b3;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 14px;
}

.black-carousel .owl-dots .owl-dot.active span, 
.black-carousel .owl-dots .owl-dot:hover span {
  background: #00b2b3;
    opacity: 1;
}

.black-carousel .owl-dots .owl-dot span {
  background: #fff;
    opacity: 0.5;
}

.black-carousel .owl-item {
    opacity: 1;
}

/*----indicators----*/

.black-carousel .carousel-indicators {
    bottom: -8px;
}

.carousel-indicators li {
    background-color: rgba(0, 178, 179, 0.47);
}

.carousel-indicators li.active {
    background-color: #00b2b3;
}

/*----Arrows----*/

.arrow {
/*  border: solid #00b2b3;*/
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 14px;
}

.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*-*/

.owl-theme .owl-nav [class*=owl-] {
/*
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
*/
    background: transparent;
/*
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
*/
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
/*
    color: #FFF;
    text-decoration: none;
*/
}

.owl-item {
    opacity: 0.5;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.owl-item.active {
    opacity: 1;
}

/*-*/

.carousel-on-mobile .owl-nav {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.carousel-on-mobile .owl-nav .owl-prev {
    float: left;
    pointer-events: visible;
}

.carousel-on-mobile .owl-nav .owl-next {
    float: right;
    pointer-events: visible;
}

/*-*/

.carousel-on-mobile .owl-nav,
.photos .owl-nav {
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.carousel-on-mobile .owl-nav .owl-prev,
.photos .owl-nav .owl-prev {
    float: left;
    pointer-events: visible;
}

.carousel-on-mobile .owl-nav .owl-next,
.photos .owl-nav .owl-next {
    float: right;
    pointer-events: visible;
}

/*----Gallery Title----*/

.gallery-title h3 {
    width: 100%;
    padding: 8px;
    margin: 0;
    display: block;
    background-color: #000;
    color: #00b2b3;
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold!important;
}



/*---------------------*/

.icon-video, 
.icon-camera,
.icon-video-sm, 
.icon-camera-sm {
  position: relative;
}

.icon-video::before,
.icon-camera::before,
.icon-video-sm::before,
.icon-camera-sm::before {
    width: 20px;
    height: 20px;
    content: '';
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
}

.icon-video::before {
    background-image: url('../img/icon-play.png');
}

.icon-video-sm::before {
    background-image: url('../img/icon-play-sm.png');
}

.icon-camera::before {
    background-image: url('../img/icon-camera.png');
}

.icon-camera-sm::before {
    background-image: url('../img/icon-camera-sm.png');
}



/*-----------META----------*/

.h-110 {
    height: 110px;
}

.meta-img-title-info {
    background-color: #fff;
}

.meta-img-title-info hr {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #333;   
}

.meta-img-title-info h2 {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.meta-img-title-info.meta-opinion h2 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: 100;
    font-size: 26px;
    line-height: 28px;
}

.meta-img-title-info p {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
}

.meta-img-title-info  {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
}

.meta-img-title-info .date {
    text-transform: uppercase;
    font-size: 12px;
    color: #9d9d9d;
}

.meta-img-title-info .meta-super-title {
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
}

.meta-img-title-info.meta-super-title-container hr {
    border-bottom: 1px solid #006b4b;   
}

.meta-gallery {
    background-color: #1d1d1d;
}

.section-meta-gallery .container {
    background-color: #fff;
}

.section-meta-gallery .article-box {
    color: #fff;
    background-color: #1d1d1d;
}

.meta-sociales {
    color: #fff;
    background-color: #00b2b3;
}

.meta-sociales .info-container .author,
.meta-sociales .info-container .comment {
    color: #fff!important;
}

.section-meta-sociales .container {
    background-color: #00b2b3;
}

.section-meta-sociales .section-title h1 {
    color: #fff!important;
}

/*
.section-meta-sociales .article-box {
    color: #fff;
    background-color: #1d1d1d;
}
*/


/*----------*/

/*-*/

.deportes-statistics-2 {
    background-color: #292929;
    color: #fff;
    position: relative;
}

.deportes-statistics-2 h1 {
    width: 100%;
    font-family: GiorgioSans, Arial, sans-serif;
    font-size: 60px;
    font-weight: 100;
    color: #d23347;
}

.deportes-statistics-2 h2 {
    width: 100%;
    font-family: GiorgioSans, Arial, sans-serif;
    font-size: 40px;
    font-weight: 100;
}

.deportes-statistics-2 table {
    border-collapse: collapse;
    width: 100%;
}

.deportes-statistics-2 th, td {
    padding: 6px 0;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}

.deportes-statistics-2 tbody td {
    padding: 6px 0;
    border-bottom: 1px dotted #fff;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}
.deportes-statistics-2 .static {
    max-width: 40px;
    min-width: 40px;
}
.deportes-statistics-2 .fluid {
    width: 50%;
}

.deportes-statistics-2 tr td:nth-child(2) {
    color: #d23347;
    text-align: center;
}

.deportes-statistics-2 tr td:nth-child(3) {
    text-align: right;
}

.deportes-statistics-frame-container {
    height: 420px;
    overflow-y: auto;
}

/*-----------*/

.list-particular-section {
    text-align: center;
}

.list-particular-section h1 {
    width: 100%;
    font-family: GiorgioSans, Arial, sans-serif;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 0
}

.list-particular-section .section-author {
    font-size: 18px;
}

.list-particular-section .section-author + hr {
    width: 16%;
    margin: 8px auto;
}

.list-particular-section h2 {
    margin: 0;
}

.list-particular-section hr {
    height: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #fff;
    border-top: 1px solid #fff;
}

/*-------------------*/

.h-320 {
    height: 320px;
}

.opinion-color hr {
    background-color: #fff;
    opacity: 0.5;
}

.section-opinion-color .dl-container {
    background-color: #006b4b;
}

/*-----------*/

.list-particular-section-long {
    text-align: center;
}

.list-particular-section-long-opinion {
    border: 1px solid #006b4b;
}

.list-particular-section-long h1 {
    width: 100%;
    font-family: GiorgioSans, Arial, sans-serif;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 0
}

.list-particular-section-long .section-author {
    font-size: 18px;
}

.list-particular-section-long .section-author + hr {
    width: 16%;
    margin: 8px auto;
}

.list-particular-section-long h2 {
    margin: 0;
    font-size: 22px;
}

.list-particular-section-long hr {
    height: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #d2d2d2;
    border-top: 1px solid #d2d2d2;
}

/*-----Detalle Especial-----*/

.big-img {
    width: calc(100% + 80px); 
    margin-left: -40px
}

.special-title h1 {
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 92px;
    line-height: 82px;
}

.section-detail .entradilla {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 100;
}

.special-entry-container {
    position: relative;
    color: white;
}

.special-entry-title {
    position: absolute;
    bottom: 0;
    left: 0;
}

.special-entry-container .box-transparent {
    width: calc(100% + 80px); 
    height: 100%;
    margin-left: -40px;
    position: absolute;
    bottom: 0;
    
}

.box-detail-content .big-img {
    width: calc(100% + 360px); 
    margin-left: -180px;
}

.main-content {
    z-index: 1
}

.special-detail .content-capsule {
    background-color: #e6e6e6;
}

.special-detail p {
    font-weight: normal;
}

.special-detail .content-capsule h3 {
    font-family: GiorgioSans;
    font-weight: 100;
    font-size: 50px;
}

.entre-titulo p {
    font-weight: bold;
    font-size: 24px;
}

/*-------Debate-------*/

.box-detail-content .author-container img {
    width: auto;
}

.section-detail.debate-detail .entradilla {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    font-style: normal;
}

.section-detail.debate-detail .left-side .entradilla::before {
    content: "A favor";
    color: #d7c600;
}

.section-detail.debate-detail .right-side .entradilla::before {
    content: "En contra";
    color: #d7c600;
}


/*-------------*/

.sub-center {
    text-align: center;
    font-family: GlosaHeadline, Arial, sans-serif;
    font-size: 22px;
    line-height: 28px;
}

.text-light-center {
    font-weight: 100!important;
    text-align: center;
}

.author-section-bar {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #097652;
}

.author-section-bar .section-name {
    margin-bottom: 2px;
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
}

.author-img-container .author-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.author-img-container .author-name {
    position: absolute;
    bottom: 0;
    right: 88px;
    font-weight: bold;
}

/*------------*/

.page-detail {
    font-weight: 100;
    font-size: 16px;
    line-height: 28px;
}

.page-detail b,
.page-detail a {
    font-weight: bold;
}

.page-detail ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
 
.page-detail ol>li {
  margin:0 0 18px 0;
  padding:0 0 0 24px;
  text-indent:-32px;
  list-style-type:none;
  counter-increment:item;
}
 
.page-detail ol>li:before {
  display:inline-block;
  width:28px;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}

.page-detail h4 {
    font-size: 22px;
}

.page-detail h1 {
    margin-bottom: 30px;
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 60px;
    color: #097652;
}

.page-detail h2 {
    margin-bottom: 30px;
    font-family: GiorgioSans;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
}

.page-detail h3 {
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    color: #097652;
}

.page-detail hr {
    border-bottom: 1px solid #000;
}

.page-detail .mega-size-title {
    margin-bottom: 0;
    text-align: center;
    font-size: 214px;
    line-height: 200px;
}

.page-detail .mega-sub-title {
    text-align: center;
    font-size: 28px;
    line-height: 30px;
}

.directions {
    font-size: 16px;
    line-height: 22px;
} 

.directions p {
    margin-bottom: 0;
} 

.directions:last-of-type {
    border-right: none;
} 

@media (min-width: 1010px) {
    .directions {
        border-right: 1px solid #000;
    } 
    
    .directions:last-of-type {
        border-right: none;
    } 
}

.directions a {
    border-bottom: 1px dotted #097652!important;
    color: #097652!important;
}


/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/


.glitch-404 {
    color: #097652;
    position: relative;
    width: 100%;
    text-align: center;
    text-shadow: -4px 0 #fff;
    margin: 0 auto;
    margin-bottom: 0;
    font-size: 214px;
    line-height: 200px;
    font-family: GiorgioSans;
}

@keyframes noise-anim {
  0% {
    clip: rect(24px, 9999px, 150px, 0);
  }
  5% {
    clip: rect(2px, 9999px, 106px, 0);
  }
  10% {
    clip: rect(58px, 9999px, 135px, 0);
  }
  15% {
    clip: rect(82px, 9999px, 96px, 0);
  }
  20% {
    clip: rect(31px, 9999px, 120px, 0);
  }
  25% {
    clip: rect(5px, 9999px, 152px, 0);
  }
  30% {
    clip: rect(100px, 9999px, 46px, 0);
  }
  35% {
    clip: rect(91px, 9999px, 118px, 0);
  }
  40% {
    clip: rect(41px, 9999px, 125px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 81px, 0);
  }
  50% {
    clip: rect(69px, 9999px, 141px, 0);
  }
  55% {
    clip: rect(46px, 9999px, 169px, 0);
  }
  60% {
    clip: rect(26px, 9999px, 142px, 0);
  }
  65% {
    clip: rect(45px, 9999px, 110px, 0);
  }
  70% {
    clip: rect(89px, 9999px, 136px, 0);
  }
  75% {
    clip: rect(12px, 9999px, 157px, 0);
  }
  80% {
    clip: rect(66px, 9999px, 171px, 0);
  }
  85% {
    clip: rect(33px, 9999px, 140px, 0);
  }
  90% {
    clip: rect(89px, 9999px, 140px, 0);
  }
  95% {
    clip: rect(51px, 9999px, 155px, 0);
  }
  100% {
    clip: rect(56px, 9999px, 169px, 0);
  }
}
.glitch-404:after {
    width: 100%;
    text-align: center;
    content: attr(data-text);
    position: absolute;
    right: 0px;
    text-shadow: -1px 0 #06bf82;
    top: 0;
    color: #097652;
    background: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 4s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(1px, 9999px, 137px, 0);
  }
  5% {
    clip: rect(68px, 9999px, 102px, 0);
  }
  10% {
    clip: rect(68px, 9999px, 124px, 0);
  }
  15% {
    clip: rect(4px, 9999px, 115px, 0);
  }
  20% {
    clip: rect(34px, 9999px, 112px, 0);
  }
  25% {
    clip: rect(92px, 9999px, 138px, 0);
  }
  30% {
    clip: rect(86px, 9999px, 42px, 0);
  }
  35% {
    clip: rect(13px, 9999px, 45px, 0);
  }
  40% {
    clip: rect(48px, 9999px, 133px, 0);
  }
  45% {
    clip: rect(43px, 9999px, 89px, 0);
  }
  50% {
    clip: rect(43px, 9999px, 74px, 0);
  }
  55% {
    clip: rect(41px, 9999px, 47px, 0);
  }
  60% {
    clip: rect(20px, 9999px, 82px, 0);
  }
  65% {
    clip: rect(21px, 9999px, 131px, 0);
  }
  70% {
    clip: rect(4px, 9999px, 86px, 0);
  }
  75% {
    clip: rect(58px, 9999px, 129px, 0);
  }
  80% {
    clip: rect(32px, 9999px, 45px, 0);
  }
  85% {
    clip: rect(82px, 9999px, 80px, 0);
  }
  90% {
    clip: rect(96px, 9999px, 41px, 0);
  }
  95% {
    clip: rect(67px, 9999px, 134px, 0);
  }
  100% {
    clip: rect(90px, 9999px, 84px, 0);
  }
}
.glitch-404:before {
    text-align: center;
    content: attr(data-text);
    position: absolute;
    text-shadow: 1px 0 #59c6a2;
    top: 0;
    color:  #097652;
    background: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 5s infinite linear alternate-reverse;
}

/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/

.related-box hr:last-of-type {
    display: none;
}

@media (min-width: 1010px) {
    .right-side {
        border-left: 1px solid #000;
    }
}

.cita-en-numeros p {
    font-weight: 100;
}

.cita-en-numeros h4 {
    font-family: GiorgioSans, Arial, sans-serif;
    font-size: 150px;
    font-weight: 100;
    line-height: 140px
}

.ficha-tecnica-right-col {
    border-left: 1px solid #cacaca;
}

.ficha-tecnica-content hr {
    height: 0;
    background-color: #cacaca;
    border-color: #cacaca;
    border-width: 1px;
}


/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/

.h-174 {
    height: 174px;
}

.h-img-ocio {
    height: 174px;
    width: auto;
}

.ocio-row h1 {
    font-family: GiorgioSans, Arial, sans-serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 40px;
}

.ocio-row h2 {
    font-family: GlosaHeadline, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}

.ocio-row p {
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.time-container span {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.event-data {
    position: absolute;
    bottom: 0;
}

.ocio-row .meta {
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 0;
}

.ocio-row a {
    color: #FF338D;
}

.ocio-row .buttons-container {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #706f6f;
}

.ocio-row .buttons-container span {
    font-size: 12px;
    font-weight: normal;
    color: #c6c6c6;
}

.ocio-row .buttons-container .button-box {
    border-left: 1px solid #c6c6c6;
}

.ocio-row .buttons-container .button-box:first-child {
    border-left: none;
}

.ocio-row .buttons-container hr {
    border-bottom: 1px solid #c6c6c6;
}

.ocio-row .buttons-container img {
    width: 20px;
    margin-right: 4px;
    margin-top: -4px;
}

.ocio-row .buttons-container a {
    color: inherit;
}

.ocio-row .buttons-container a:hover {
    color: #FF338D;
}

.ocio-filter {
    background-color: rgba(255, 51, 141, 0.65);
}

.ocio-filter img {
    width: 22%;
    height: auto;
}

.ocio-filter input,
.ocio-filter select {
    width: 76%;
    margin-left: 2%;
    padding: 0 6px;
}

.ocio-filter select {
    width: 100%;
    padding: 4px 6px;
}

.ocio-filter .input-group {
    display: inline-block;
    width: 74%;
}

.ocio-filter .btn {
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #fff;
    background-color: #FF338D;
    border: 1px solid #fff;
    border-radius: 0;
    text-transform: uppercase;
    padding: 6px;
    cursor: pointer;
    margin: 0;
}

@media (max-width: 1009px) {
    .h-img-ocio {
        height: auto;
        width: 100%;
    }
    
    .h-174 {
        height: auto;
    }
    
    .event-data {
        position: inherit;
        bottom: inherit;
    }
}


/*-----Section-gastroclub-----*/

.gastro-box {
    background-color: transparent;
}

.gastro-box-big h2 {
    font-size: 40px;
}

.gastro-box h2 {
/*    font-family: 'clarendon'!important;*/
}

.gastro-box p {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}

.gastro-box:hover {
    box-shadow: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}



