.medallero-container{
  background-color: #FFF;
}
.medallero-container.pr-sm-2{
  padding-right: 3px;
}
.medallas_blue{
  background-color: #188fcb;
}
.medallas_blue h6{
  color:#fff;
  font-weight: 300;
  font-size: 15px;
}

.medallero_tittle{
  font-size: 18px;
}
.posicion.pt-2,
.medallas_white.pt-2,
.medallas_blue.pt-2{
    padding-top: 7px;
}
.medallas_blue .number_medallas{
  color: #FFF;
  font-size: 30px;
  font-weight: 500;
}

.doflag{
  width: 40px;
}

.table_medallero td .doflag{
  width: 43px;
}
.table_medallero td strong{
  font-size: 15px;
}
.medallas_white h5{
  color:#188fcb;
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 6px !important;
}
.medallas_white h6{
  color:#000;
  font-weight: 300;
  font-size: 15px;
}

.medallas_white.pt-2{

}
.table_medallero th{
  font-weight: 300;
}
th img{
  width: 28px !important;
}
.img_medallas img{
  width: 28px;
}

.number_posicion strong{
  font-size: 30px;
  font-weight: 500;
}

.posicion h5{
  font-weight: 300;
  font-size: 15px;
}

.posicion .d-block{
  line-height: 1;
}

@media only screen and (max-width: 768px) {
  .number_posicion .d-block.text-right{
    text-align: left !important;
  }
}
