
@media (min-width: 320px) {
  #mobile_top{
    display: flex;
  }
  #mobile_top strong{
    color:#007651;
    font-weight: 400;
  }

  #mobile_top i{
    color:#007651;
  }
  #bottom-main-nav .container{
    width: 100%;
  }
  #temas_nav{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  #top_metadata{
    display: none;
  }
  #top-main-nav{
    margin-top: 0;
    height: 50px;
  }
  .mobile_logo{
    display: block;
    height: 50px;
    width: 50px;
  }

  .mobile_logo .logo_wrapper{
    width: 59px;
    height: 50px;
    border:none;
  }

  .account .close{
    display: none;
  }

  .search, .burger, .close{
    cursor:pointer;
  }
  .top_search{
    position: absolute;
    right: 0;
    z-index: 100;
    width: 82.2%; /*83.5%*/
    height: 0px;
    background-color: #FFF;
    bottom: 0px;
    padding-bottom: 5px;
  }

  .top_search .form-control{
    border-radius: 0;
    border-left:none;
    border-right: none;
    border-top:none;
    border-bottom: solid 1px #007651;
    padding-bottom: 2px;
    padding-left: 0;
  }

  #temas_nav .nav-item{
    display: inline-block;
  }
  .banner-top,
  #main-nav{
    display: none;
  }

  #temas_nav .nav-item a{
    font-size: 12px;
  }
  #temas_nav{
    margin-left: 0;
    white-space: nowrap;
    overflow-x: auto;
  }
  #temas_nav li{
    position: relative;
    display: inline;
  }

  #top-main-nav .dl-container{
    padding-left:8px;
    padding-right: 0;
  }

  .dl-nav{
    z-index: unset;
  }
}

@media (min-width: 576px) {
  #top-main-nav .dl-container{
    padding-left:10px;
    padding-right: 10px;
  }
  #temas_wrapper,
  #bottom-main-nav .container,
  #bottom-main-nav .dl-container,
  #temas_wrapper .col{
    width:540px;
  }
  #top-main-nav{
    height: auto;
  }
}

@media (min-width: 1200px) {
  #mobile_top{
    display: none;
  }
  #top-main-nav,
  #top_metadata,
  #main-nav{
    display: block;
  }
  #temas_wrapper{
    width: 100%;
    margin-left: 0px;
  }
  #temas_nav{
    margin-left: 130px;
  }
  #bottom-main-nav .container{
    width: 980px;
  }

  #temas_nav .nav-item a{
    font-size: 12px;
  }
  #logo{
    max-width: 82px;
    width: 82px;
  }
  .submenu_mobile{
    display: none;
  }
  .navbar-brand{
    width: 84px;
  }
  .logo_wrapper{
    bottom:-31px;
    height: 80px;
  }

  .navbar-brand{
    bottom:0;
  }
}

#submenu .submenu strong,
#submenu .submenu time{
  color:#575757 !important;

}



.submenu_mobile{
  display: none;
  position: absolute;
  z-index: 10000;
  background-color: #FFF;
  width:100%;
}

.submenu_mobile ul{
  list-style: none;
  padding: 0;
}
.submenu_mobile .search,
.submenu_mobile .menu{
  border-bottom: solid 1px #cacaca;
  margin-bottom: 0;
}

.submenu_mobile .menu li a{
  color:#007651;
  font-weight: 300;
  transition: 0.2s;
  font-size: 18px;
  line-height: 1.8;
}
.submenu_mobile .newsletter a{
  text-decoration: none;
  line-height: 1.3 !important;
  color: #cacaca !important;
}

.printing:hover{
  text-decoration: none;
}

.submenu_mobile .menu li a:hover{
  opacity: .5;
}

.submenu_mobile .search form input{
  border:none;
  border-radius:0;
  color: #cacaca;
}

::placeholder{
  color:#cacaca;
}

.submenu_mobile .search .material-icons{
  color:#007651;
}

.submenu_mobile .title,
.submenu_mobile .menu .title{
  text-transform: uppercase;
  color:#cacaca;
  font-size: 11px;
}

#socials{
  border-bottom: none;
}

#top-main-nav{
  background-color: #FFF;
}

.navbar-brand{
  position: absolute;
  z-index: 100000;
  left:50px;
}
.top-nav{
  background-color: #FFF;
  border-top-color:#f1f1f1;
}

.dl-nav{
  border-top-color:#f1f1f1;
  border-bottom: none;
  padding: 0;
}

.publicidad{
  /*display: none;*/
}


#main-nav{
  background-color: #fff;
}
#main-nav .top_nav_row{
  border-bottom:1px solid #f1f1f1;
}
.navbar{
  height: auto;
}

.inner_bottom_nav,
#bottom-main-nav{
    background-color: #007651;
    position: relative;
}

.logo_wrapper{
  border:solid 2px #FFF;
  margin:0;
  position: absolute;
  z-index: 100000;
}

.top_nav_row li{
  font-family: Roboto, 'Calibri', sans-serif;
  font-weight: 300;
}


#main-nav-options{
  margin-left: 120px;
}

#main-nav-options li a:hover{
  opacity: .5;
}

#temas_nav .nav-item a,
#main-nav li a{
  font-family: Roboto, 'Calibri', sans-serif;
  padding: 10px;
  font-weight: 300;
  position: relative;
  transition: 0.2s;
}
#main-nav li a{
  color:#007651;
}

#temas_nav li a:after{
  content: "";
  height: 50%;
  width: 1px;
  position: absolute;
  right: 0;
  background-color: #FFF;
}
#temas_nav a:last-child:after{
  content:normal;
}

#temas_nav a{
  color: #FFF;
}

#temas_nav a {
  font-size: 12px;
  white-space: nowrap;
}

#temas_nav .nav-item{
  display: inline;
}
#temas_nav .nav-item a{
  word-break: normal;
  padding: 6px 10px;
}
#top_metadata{
  background-color: #FFF;
}

#top_metadata li {
  display: flex;
  align-items: center;
}

#top_metadata li time{
  font-family: Roboto, 'Calibri', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

#top_metadata .nav-item a{
  font-family: Roboto, 'Calibri', sans-serif;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
  color:#575757;
  transition: 0.2s;
}

.border{
  border-left:solid 1px #cacaca;
}

#temas_nav a:hover,
.printing:hover,
.inner_top_nav .nav li a:hover,
#top_metadata .nav .nav-item a:hover{
  opacity: .5;
}
/*.img-fluid{
  max-width: 90px;
}
*/
#menu_triggers .material-icons{
  color:#007651;
}

#submenu{
  /*display: none;*/
  position:relative;

  /*max-height: 320px;*/


}

#submenu ul{
  margin: 0;
  padding: 0;
}
#submenu ul li{
  list-style: none;
}

.submenu{
  display: none;
  position: absolute;
  z-index:999;
  background-color: #fff;
  top: 0px;
  overflow: hidden;
}
.submenu.closemenu{
  height: 0;
  display: none;
}
.submenu.openmenu{
  height: 350px;
  display: block;
}

#submenu .submenu li a{
  font-size: 16px;
  color:#007651;
  transition: 0.2s;
  text-decoration: none;
  font-weight: 300;
}

#submenu .submenu li a:hover{
  opacity: .5;
}

#submenu .submenu .col{
  border-right: solid 1px #cacaca;
}

#submenu .submenu .col:last-child{
  border-right:none;
}

#submenu .submenu time,
#submenu .submenu .printing,
#submenu .submenu strong{
  text-transform: uppercase;;
  color:#007651;
  font-weight: 300;
  font-size: 10px;
}
#menu_triggers .close{
  display: none;
  transition: 0.2s;
}

#menu_triggers .burger{
  transition: 0.2s;
}
