.meta_wrap{
    display:flex;
    justify-content: start;
    align-items: center;
}

.meta_wrap i{
    color: #FFF;
    font-size: 18px;
    display: none;
}
.meta_wrap i:hover{
    cursor: pointer;
}

.temaBTN1 {
    padding: 4px 5px;
    border-radius: 300px;
    border: 1px solid #d4d4d4;
    /*margin-bottom: 10px;*/
    /* float: left; */
    display: inline-block;
    margin-right: 10px;
    line-height: 12px;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.temaBTN1 a:hover {
    text-decoration: none;
}
.temaBTN1 .tbtn_separador {
    width: 1px;
    background-color: #d6d6d6;
    height: 17px;
    position: relative;
    padding: 0px;
    float: left;
    border-bottom: none;
    margin-left: 0px;
    margin-right: 10px;
    text-transform: capitalize;
    color: #000;
}
.tbtn {
    padding: 5px 0px;
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 300px;
    line-height: 12px;
    font-size: 13px;
    border: none;
    outline: none;
    border-radius: 300px;
    /* margin-top: 1px; */
    cursor: pointer;
    outline: none !important;
    color: #fff;
    background-color: #007550;
}
.tbtn.active {
    background-color: transparent;
    border: 1px solid #007550;
    color: #007550;
    justify-content: center !important;
}
.temaBTN1 a span {
    margin-left: 10px;
}
.temaBTN1 span {
    /* float: left; */
    margin-top: 8px;
    line-height: 12px;
    margin-right: 10px;
    /* padding-left: 10px; */
    font-style: 15px;
    /* text-decoration: underline; */
    border-bottom: 1px dotted #444;
    text-transform: capitalize;
    color: #000;
}
.sfav{
    display: flex;
    padding: 4px 5px;
}