.signupBox{
    margin-bottom: 69px;
    background-color: #f3f3f3;
    border-radius:0;
    padding-top:40px ;
    width: 100%;
    min-height: 486px;
    border-radius: 5px;
}
.signupBox > div{
	min-width: 100%;
	max-width: 100%;
}
.insideModal{
	height: 100%;
}
.tab-content{
	background-color: #FFF;
	height: 100%;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link{
	border:none;
}
.nav-tabs{
	border:none;
}
.nav-tabs .nav-item{
    width: 50%;
}
.line{
	display: inline-flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.line hr{
	flex-grow: 1;
	display: flex;
}
.line span{
	display: flex;
	padding: 0 10px;
	color:rgba(0, 0, 0, 0.2);
}
.pop-up{
	
}

.sbr_btnsContSocial{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 5px 0;
}

.sbr_btnsContSocial .sbr_btn{
	    width: calc(50% - 10px);
    margin-right: 20px;
}
.sbr_btnsContSocial .sbr_btn:last-child{ margin-right: 0px;  }

.sbr_input{
    float:none !important;
    padding:12px 15px;
    border-color: #ddd;
}

.sbr_input::placeholder ,
.sbr_input::-webkit-input-placeholder,
.sbr_input:-ms-input-placeholder{
    color:#ddd;
}
.form-control:focus{
    border-color: #007550;
}
.nav-tabs .nav-link{
    color:#000;
}
.form-control{
    border-radius: 0;
}
.sbr_recoverlink{
    color: #5EA3C1;
}
#loginModal{
	width: 446px;
	min-height: 496px;
	background-color: #F3F3F3;
	border-radius: 11px;
	position: fixed;
	overflow: hidden;
	padding: 0px;
	top: 70px;
}
