.notaBody{
	padding: 10px;
	margin-top: 20px;
}
.nb_cont{
	padding: 20px;
	min-height: 100px;
	background-color: #fff;
}
.nb_title{
	font-size: 36px;
    line-height: 38px;
    font-weight: bold;
}
.nb_subInfo{
	margin-top: 20px;
	font-size: 14px;
}


.list-subtitle, .list-related {
    list-style-type: none;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    margin-left: 0;
}
.list-subtitle {
    padding-left: 20px;
    font-family: GlosaHeadline,Arial,sans-serif;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 12px;
}
.list-subtitle li {
    color: #000;
    line-height: 25px;
    padding: 5px 5px 0!important;
    font-family: Roboto,Arial,sans-serif;
    font-weight: normal;
    font-size: 18px;
}
.list-subtitle li:before {
    content: "";
    margin-right: 10px;
    margin-left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-bottom: -1px;
}
.list-subtitle li:before {
    background-color: #337EC0!important;
}
.noticiaAtributos {
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding-top: 15px;
    margin-bottom: 13px;
    /*padding-left: 10px;*/
        text-align: left;
}
.noticiaAtributos a{
	color: #000;
	text-decoration: none;
}
.noticiaAtributos div {
    font-size: 14px;
    color: #9d9d9d;
    line-height: 14px;
    font-family: Roboto,Arial,sans-serif;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    float: left;
    text-transform: uppercase;
}
.noticiaAtributos .city{
	margin-left: 5px;
}
.noticiaCaption {
    background: #FFF;
    padding: 10px 5px;
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto,Arial,sans-serif;
    line-height: 22px;
    color: #464646;
    border-bottom: 2px solid #cacaca;
    text-align: left;
}

.textContainer {
    margin: 10px;
    line-height: 1.5em;
}
.textContainer .field-name-body {
    font-size: 18px;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 100;
    line-height: 32px;

    text-align: left;
}


.notaBody{
	margin-bottom: 90px;
}
.bottomBar{
	position: fixed;
    bottom: 0px;
    width: 100%;
    height: 67px;
    background-color: #ffffff;
    z-index: 99;
    box-shadow: 0px -2px 2px #0000000A;
    padding: 14px 30px;
    align-items: center;
    text-align: center;
}
.bbBtn{
	    display: inline-block;
    /* padding: 0px 5px; */
    line-height: 12px;
    background-color: transparent;
    border: none;
    color: #B8B8B8;
    margin-top: 3px;
    position: relative;
    outline: none !important;
}
.bbBtn i{
    font-size: 29px;
}
.bbBtn.active{
    color: #027651;
}

.bbsb_barra {
    position: absolute;
    height: 284px;
    width: 79px;
    border-radius: 5px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: none;
    bottom: -9px;
    padding: 18px 6px;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #ffffff;
}
.bbsb_barra .shareBtn{
	position: absolute;
	bottom: 14px;
	left: 0px;
	right: 0px;
	margin: auto;
    color: #027651;
}


.bbsbb_btn{
	padding: 5px 5px;
    margin-bottom: 19px;
    border: none;
    border-radius: 7px;
    background-color: transparent;
}
.bbsbb_btn img{
	height: 40px;
}

