#resetPassword{
	
}
.signupBox.recovery.validation .sbr_title{
    display: none;
}

.signupBox.recovery.validation .sb_right{
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.alert-box-newpass.bad-code-recovery,
.alert-box-newpass.bad-code {
    display:flex;
    flex-direction: row;
    align-items: center;
    bottom:0;
}
.alert-box.success{
    background-color: #007550;
}


.alert-box-newpass.bad-code i{
	float:none;
}


.wrapperForm{
    display: none;
}

.lds-topics {
    display: flex;
    position: relative;
    width: 80px;
    height: 80px;
    align-self: center;
    justify-self: center;
}
.lds-topics div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #007651;
    animation: lds-topics 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-topics div:nth-child(1){
    left: 8px;
    animation-delay: -0.24s;
}
.lds-topics div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-topics div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-topics {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}