.shtb_invisibleBTN{
	float: left;
	margin-top: 7px;
}
.sh_logo{
	height: 27px;
    position: absolute;
    left: 0px;
    top: 9px;
    text-align: center;
    width: 175px;
    right: 0px;
    margin: auto;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 99;
}
.sh_menuBtn{
	float: left;
	padding: 2px 4px;
	background-color: #ffb0b0;
	color: #000;
}


.shtb_invisibleBTN.user{
	float: right;
}

.sh_topBar{
	padding: 4px 20px;
}

.container{
	width: 100% !important;
}

.article-box img{
	width: 100%;
}
.ab_image{
	width: 100%;
	border-radius: 5px 5px 0px 0px;
	height: 120px;
	float: left;
	background-color: #fafafa;
}


.sliderNavBtn.right{
	right: -10px;
	z-index: 999;
}
.shtb_invisibleBTN{
	margin-top: 2px;
}

.shtb_ul, .shbb_ul{
	padding-left: 17px;
}

#siteHeader{
	width: 100%;

}
.sh_topBar{
	padding: 5px 10px;
}

.shbb_ul li{
	margin-right: 17px;
	font-size: 14px;
}

.sh_bottomBar{
	height: 35px;
}

.recomendados{
	margin-top: 30px;
}


.article-box h2{
	font-size: 16px;
	font-weight: bold;
	float: left;
	width: 100%;
}
.article-box > div.p-2{
	background-color: #fff;
    padding: 10px;
    padding-bottom: 0px !important;
    height: 150px;
    position: relative;
    float: left;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
}

.sectionDesc{
	font-size: 14px;
}

.col-xs-6{
	width: 50%;
}

.author{
	font-size: 13px;
	max-width: calc(100% - 40px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-transform: uppercase;
}
.sliderNavBtn{
	display: none;
}


.temaSlider{
	margin-left: 23px;
    width: calc(100% - 5px);
}

.info-container{
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 0px 10px;
	margin: 0px !important;
	width: 100%;
}

.pdm_box li span{
	font-size: 14px;
}


section{
	padding: 0px 8px;
}




.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.sliderBolitas{
	margin-left: -42px;
}

.articulosGuardados{
	padding: 40px 15px;
}

.loadmoreBTN{
	margin-bottom: 75px;
	z-index: 10;
}

.tqs_title{
	margin-bottom: 30px;
}


section.tqs:after{
	content: '';
    position: absolute;
    left: 18px;
    width: 1px;
    top: 53px;
    height: calc(100% - 550px);
    border-left: 1px dashed #c5c5c5;
}

.temaTitle:after{
	    content: '';
    position: absolute;
    left: -13px;
    z-index: 9;
    width: 16px;
    height: 16px;
    background-color: #ECECEC;
    border: 3px solid #CBCBCB;
    border-radius: 300px;
    left: -30px;
    top: 5px;
}

.sectionTitle{
	font-size: 36px;
}

.agItems{
	margin-top: 20px;
}

.tw_phantom{
	float: unset;
	width: 100%;
	display: inline-block;
}

.twitterSection{
	padding: 40px 15px;
}
.is_squaredImg{
    width: 100%;
	height: 320px;
	float: left;
	position: relative;
	background: rgba(0,0,0,0.2);
	margin-left: 1px;
	margin-bottom: 10px;
	margin-right: 1px;
}

.twitterBTNMore{
	float: left;
	width: 100%;
	border-radius: 300px;
	background-color: #E0E0E0;
	padding: 10px 20px;
	text-align: center;
	font-size: 15px;
	border: none;
	margin-top: 20px;
}

.portadaITEM{
	/*width: calc(100% - 18px);*/
	width: 100%;
	height: 420px;
	/*display: inline-block;*/
	border-radius: 5px;
	float: left;
	margin-right: 6px;
	position: relative;
	white-space: normal;
	background-color: #fafafa;
}
.pitem_info{
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 20px;
	padding-top: 50px;
	border-radius: 0px 0px 5px 5px;
	background: rgb(0,0,0);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.8533788515406162) 61%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.8533788515406162) 61%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.8533788515406162) 61%, rgba(0,0,0,0) 100%);
}

.pitem_name{
	font-size: 22px;
	font-weight: bold;
	line-height: 27px;
	color: #fff;
	margin-bottom: 20px;
}
.pitem_info .pdm_button, 
.pitem_info .pdm_button:hover{
	color: #fff;
}
.enPortada.main .sliderBolitas{
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 20px;
}

.enPortada.main{
	padding: 0px 0px;
}
.enPortada.main h2{
	margin-bottom: 20px;
	padding-left: 10px;
}

.pItemsCont{
	    white-space: nowrap;
     width: 100%; 
    overflow: hidden;
    margin-right: -10px;
    margin-left: 10px;

    height: 540px;
    margin-bottom: -110px;
}
.psItemsCont {
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: -40px;
    height: 390px;
}
.owl-carousel .owl-stage-outer{
	overflow: unset !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #818181 !important;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px !important;
    /* margin-bottom: 0px; */
}

.enPortada.tqs{
	margin-top: 80px;
}


.ag_sidePostCont{
	margin-top: 20px;
	overflow: unset;
	height: auto;
}
.temaSlider{
	z-index: 9;
}
.temaSlider .postSliderItem{
	width: 100%;
}


.owl-dots{
	margin-left: -40px;
}

.sbcu_links li{
	font-size: 16px;
}


.nb_item > span{
	margin-top: 2px;
}
.nb_item{
	margin-right: 5px;
	padding: 5px 7px;
}



/*mi perfil top navigation tabs */
.topTabsUserNav{
	padding: 0px;
    margin: 0px;
    margin-top: 5px;
    color: #444;
    background-color: #e2e2e2;
    padding: 16px 10px;
    margin-bottom: 39px;
    padding-bottom: 0px;
}

.topTabsUserNav li{
	    float: left;
    /* width: 100%; */
    padding: 9px 0px;
    font-size: 14px;
    color: #444;
    list-style: none;
    width: 33.33%;
    text-align: center;
}
.topTabsUserNav li.active{
	background-color: #ECECEC;
	border-radius: 5px 5px 0px 0px;
}
.notiItemsContainer{
	padding: 0px 15px;
}

.uc_buscador{
	position: relative;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.uc_buscador input{
	width: 100%;
}
.countBigTag{
	padding: 7px 11px;
}
.perfilCont{
	padding: 0px 15px;
}




/*perfil - información de usuario*/
.uc_btnEdit{
	padding: 6px 41px;
    border-radius: 200px;
    color: #fff;
    font-size: 16px;
    border: none;
    background-color: #017651;
    margin-top: 20px;
}

.uc_pic{
	width: 148px;
	height: 148px;
	border-radius: 300px;
	margin-bottom: 10px;
	display: inline-block;
}
.uc_name{
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color: #000;
}
.uc_email{
	text-align: center;
	color: #aaa;
	font-size: 15px;
}
.ucSeparador{
	height: 1px;
	border-bottom: 1px solid #dadada;
	margin-top: 50px;
	margin-bottom: 40px;
	display: inline-block;
	width: 80%;
}
.ucVincular{
	margin-top: 0px;
	margin-bottom: 60px;
}
.vc_btn{
	width: 240px;
}
.editUserData{
	width: 80%;
	display: inline-block;
}
.uc_label{
	float: left;
	font-size: 15px;
	color: #000;
	text-align: left;
	margin-top: 25px;
}
.editUserData input, .editUserData select{
	width: 100%;
	padding: 10px 10px;
	border-radius: 3px;
	margin-top: 5px;
	font-size: 14px;
	border: none;
	float: unset;
	text-align: left;
	display: inline-block;
	outline: none;
	height: 41px;
	background-color: #fff;
	/*box-shadow: 0px 0px 4px #000;*/
}

.uc_save{
	font-size: 15px;
	padding: 10px 20px;
	text-align: center;
	color: #fff;
	background-color: #027651;
	border-radius: 5px;
	margin-top: 40px;
	/*margin-bottom: 50px;*/
	border: none;
	outline: none;
	border-radius: 300px;
}
.uc_cancel{
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
	color: #027651;
	display: inline-block;
}




.uc_pic{
    position: relative;
}
.ucp_editBtn{
    position: absolute;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 300px;
    background-color: #ffffff;
    color: #000;
    bottom: 0px;
    font-size: 12px;
    border: 0px;
    line-height: 12px;
    box-shadow: 0px 0px 6px 4px rgba(68, 68, 68, 0.12);
    outline: none;
    cursor: pointer;
}



.tbtn:hover{
	background-color: #007550;
}
.tbtn.active:hover{
	background-color: transparent;
}


@media screen and (max-width: 467px){
	.sbr_btn.social{
		width: 100% !important;
		float: left;
		margin-top: 8px;
	}
	.sbr_btn.email {
	    margin-bottom: 25px;
	}
}





