.signupBox{
	margin-bottom: 80px;
	height: 486px;
	width: 100%;
	background-color: #fff;
	/*border-radius: 5px;*/
}
.signupBox > div{
	min-width: 50%;
	max-width: 50%;
}

.sb_left{
	background-color: #4D7E5E;
}
.sb_right{
	background-color: #fff;
	padding: 35px 40px;
	position: relative;
}
.sbr_title{
	color: #000;
	font-weight: bold;
	text-align: left;
	margin-bottom: 70px;
}
.sbr_title:after{
	content: '';
	height: 5px;
	width: 74px;
	left: 0px;
	background-color: #007550;
	position: absolute;
	bottom: -12px;
}

.sbr_footer{
	position: absolute;
	bottom: 35px;
	left: 40px;
	text-align: left;
	font-size: 14px;
}
.sbr_btn{
	width: 100%;
	position: relative;
	background-color: #444;
	color: #fff;
	float: left;
	padding: 9px 10px;
	border: none;
	border-radius: 300px;
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 10px;
}
.sbr_btn.fb{ background-color: #3C5A96 }
.sbr_btn.gl{ background-color: #8B3636 }
.sbr_btn.email{ 
	background-color: #007550;
	margin-top: 2px; 
}

.sbr_btn.fb:hover{ background-color: #355186 }
.sbr_btn.gl:hover{ background-color: #7C2F30 }
.sbr_btn.email:hover{ background-color: #026546; }


.sbr_input, #sb_genero{
	float: left;
	width: 100%;
	position: relative;
	padding: 8px 10px;
	margin-bottom: 15px;
	border: 1px solid #DDDDDD;
	font-size: 13px;
	outline: none;
}
#sb_genero{
	height: 37px;
}
.sbr_input.sub{
	width: calc(50% - 10px);
	margin-right: 20px;
}
.sbr_input.sub:last-child{
	margin-right: 0px;
}
.confirm .sbr_input, .confirm #sb_genero{
	margin-bottom: 20px;
}

.sbr_separador{
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 16px;
	color: #9B9B9B;

}
.sbr_separador:after{
	content: '';
	background-color: #E7E7E6;
	height: 1px;
	width: calc(50% - 25px);
	left: 0px;
	position: absolute;
	top: 10px;
}
.sbr_separador:before{
	content: '';
	background-color: #E7E7E6;
	height: 1px;
	width: calc(50% - 25px);
	right: 0px;
	position: absolute;
	top: 10px;
}

.confirmationNotification{
	padding: 10px 20px;
    border-radius: 5px;
    background-color: #CDDCD7;
    position: relative;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: auto;
    /*top: 38px;*/
    margin-top: 30px;
    margin-bottom: 10px;
    min-width: 100% !important;
    max-width: 100% !important;
}
.confirmationNotification *{ float: left; color: #007550; }
.confirmationNotification span{
	font-size: 14px;
	text-align: left;
	margin-left: 10px;
	margin-top: 2px;
	color: #007550;
}
.sbr_recoverlink{
	/*float: right;*/
	text-align: left;
	font-size: 13px;
	margin-bottom: 20px;
	color: #0275d8;
}


.recovery .sbr_title{
	margin-bottom: 0px !important;
}
.sbr_desc{
	font-size: 14px;
	margin-top: 40px;
	text-align: left;
	margin-bottom: 83px;
}

@media only screen and (min-width: 320px){
	.sb_right {
		min-height: 506px;
	}
	.sbr_desc{
		margin-bottom: 59px;
	}
}


@media screen and (max-width: 560px){
	.container{
		width: 100% !important;
	}
}
@media screen and (max-width: 702px){
	.signupBox .sb_left{
		display: none;
	}
	.signupBox .sb_right{
		min-width: calc(100% - 10px);
		max-width: calc(100% - 10px);
	}
	.confirmationNotification i{
		position: absolute;
		left: 20px;
	}
	.confirmationNotification span{
		width: 100%;
		padding-left: 24px;
	}

	.signupBox.login{
		border-radius: 11px;
		overflow: hidden;
		margin-top: 80px;
	}
}
@media only screen and (min-width: 768px){
	.sb_right {
		min-height: 506px;
	}
}







