.signupBox{
	margin-top: 45px;
    margin-bottom: 30px;
	
	width: 100%;
	background-color: #fff;
	/*border-radius: 5px;*/
}

.signupBox.form-confirm{
	min-height: 421px;
}

.sbr_btnsCont.confirm{
	display: none;
}

.signupBox.form-confirm .sbr_title.fwp{
	float:none;
}

.signupBox.login,
.signupBox.form-confirm,
.signupBox.recovery,
.signupBox.signup{
	min-height: 506px;
}

.signupBox > div{
	min-width: 50%;
	max-width: 50%;
}

.sb_left{
	background-color: #4D7E5E;
}
.sb_right{
	background-color: #fff;
	padding: 35px 40px;
	position: relative;
}

.sbrLoginCont,
.sbrSignupCont,
.sbr_title{
	display:none;
}
.signupBox.signup .sbr_title,
.signupBox.form-confirm .sbr_title,
.signupBox.recovery .sbr_title{
	display: block;
}


.overlayFormFlex{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sbr_title{
	font-size: 18px;
	color: #000;
	font-weight: bold;
	text-align: left;
	margin-bottom: 70px;
}
.sbr_title:after{
	content: '';
	height: 5px;
	width: 74px;
	left: 0px;
	background-color: #007550;
	position: absolute;
	bottom: -12px;
}

.internal_links{
	display:flex;
	justify-content: space-between;
}

.sbr_footer{
	position: absolute;
	bottom: 35px;
	left: 40px;
	text-align: left;
	font-size: 14px;
}
.sbr_input, #sb_genero{
	float: left;
	width: 100%;
	position: relative;
	padding: 8px 10px;
	margin-bottom: 15px;
	border: 1px solid #DDDDDD;
	font-size: 13px;
	outline: none;
}
#sb_genero{
	height: 37px;
}
.sbr_input.sub{
	width: calc(50% - 10px);
	margin-right: 20px;
}
.sbr_input.sub:last-child{
	margin-right: 0px;
}
.confirm .sbr_input, .confirm #sb_genero{
	margin-bottom: 20px;
}

.sbr_separador{
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 16px;
	color: #9B9B9B;

}
.sbr_separador:after{
	content: '';
	background-color: #E7E7E6;
	height: 1px;
	width: calc(50% - 25px);
	left: 0px;
	position: absolute;
	top: 10px;
}
.sbr_separador:before{
	content: '';
	background-color: #E7E7E6;
	height: 1px;
	width: calc(50% - 25px);
	right: 0px;
	position: absolute;
	top: 10px;
}

.confirmationNotification{
	padding: 10px 20px;
    border-radius: 5px;
    background-color: #CDDCD7;
    position: relative;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: auto;
    /*top: 38px;
    margin-top: 30px;*/
    margin-bottom: 20px;
    min-width: 100% !important;
	max-width: 100% !important;
	display: none;
}
.confirmationNotification *{ color: #007550; }
.confirmationNotification span{
	font-size: 14px;
	text-align: left;
	margin-left: 10px;
	margin-top: 2px;
	color: #007550;
}
.sbr_recoverlink{
	float: right;
	text-align: right;
	font-size: 13px;
	margin-bottom: 20px;
	color: #0275d8;
	font-weight: bold;
}

.signupBox.signup .sbr_recoverlink{
	/*margin-bottom: 0;*/
}

.sb_subfooter{
	background-color: #f4f4f4;
    padding: 13px 40px;
    font-size: 14px;
    width: calc(100% + 80px);
    margin-left: -40px;
    margin-bottom: -35px;
    margin-top: 30px;
    color: #0e7cda;
    text-align: left;
}
.sb_subfooter i{
	margin-right: 5px;
    font-size: 18px;
    color: #0e7cda;
}
.sb_subfooter a{
    color: #0e7cda;
}

.alert-box label{
	margin:0;
}

.alert-box.form-confirm{
	left: 0px; 
	bottom:0;
	padding:10px;
}

.alert-box.success i{
 margin-right:10px;
}


@media screen and (min-width: 320px){
	.sb_right{
		min-height: 638px;
	}
	.signupBox.form-confirm .sb_right{
		min-height: 460px;
	}
	.signupBox.recovery .sb_right{
		min-height: 455px;
	}
	.alert-box,
	.alert-box-login,
	.alert-box.error,
	.alert-box.success,
	.alert-box.alert-box-newpass,
	.alert-box.signup{
		width: calc(100% + 10px) !important;
		padding: 10px;
    	align-items: center;
	}
}

@media screen and (max-width: 463px){
	.signupBox.login .sbr_btn{
		width: 100% !important;
	}
}
@media screen and (max-width: 560px){
 	.container{
 		width: 100% !important;
 	}
 	.sbrSignupCont{
 		margin-top: 0px;
 	}

}

@media only screen and (min-width: 768px) {
	.sb_right{
		min-height: 548px;
	}
	.alert-box,
	.alert-box-login,
	.alert-box.error,
	.alert-box.alert-box-newpass,
	.alert-box.success,
	.alert-box.form-confirm,
	.alert-box.signup{
		padding: 10px 40px;
	}
	
}


@media screen and (max-width: 772px){
	.sb_subfooter{
   	 	width: calc(100% + 92px) !important;
	}
	.signupBox .sb_left{
		display: none;
	}
	.signupBox .sb_right{
		min-width: calc(100% - 10px);
		max-width: calc(100% - 10px);
	}
	.confirmationNotification i{
		position: absolute;
		left: 20px;
	}
	.confirmationNotification span{
		width: 100%;
		padding-left: 24px;
	}

	.signupBox.login{
		border-radius: 11px;
		overflow: hidden;
		margin-top: 80px;
	}

	.sbr_tabs{
		width: calc(100% + 90px);
	}
	.signupBox{
		height: auto;
	}
	.sbr_maindesc{
		display: block;
	}
	.sbrSignupCont{
		margin-top: 0px;
	}
	
}

@media screen and (min-width: 1024px){
	.sb_right{
		overflow: hidden;
	}
	.alert-box,
	.alert-box-login{
		padding: 10px 40px;
	}
}

/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/

.alert-box,
.alert-box-newpass,
.alert-box-login {
    width: calc(100% + 80px);
    background-color: #af2b2b; 
    color: #fff;
    position: absolute; 
	bottom: 0;
    /*bottom: -65px; */
	left: 0;
    /*left: -40px; */
    padding: 10px 40px;
    text-align: left;
    font-size: 14px;
}

.alert-box i,
.alert-box-login i {
    float: left;
    width: 32px;
}

.alert-box span,
.alert-box-login span {
    color: #fff;
}

.error-field,
input.error {
    border: 1px solid #ff0000!important;
}

#auth-submit:disabled {
    opacity: 0.5;
    cursor: inherit;
}

#auth-submit:disabled:hover {
    background-color: #007550;
}

.logout-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    cursor: pointer;
}

#auth label.error {
    color: #af2b2b;
    float: left;
    margin-top: -18px;
    font-size: 14px;
}

#changes label.error {
    color: #FFF;
    float: left;
    font-size: 14px;
}










