@font-face {
	font-family: 'headline';
	src: 
		url('fonts/GlosaHeadline-Black_1.ttf')
		format('truetype');
}

/*@font-face {
	font-family: 'roboto_regular';
	src: 
		url('fonts/Roboto-Regular.ttf')
		format('truetype');
}

@font-face {
	font-family: 'roboto_light';
	src: 
		url('fonts/Roboto-Light.ttf')
		format('truetype');
}
@font-face {
	font-family: 'roboto_medium';
	src: 
		url('fonts/Roboto-Medium.ttf')
		format('truetype');
}*/

.lds-topics {
	display: flex;
	position: relative;
	width: 80px;
	height: 80px;
	align-self: center;
	justify-self: center;
}
.lds-topics div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: #007651;
	animation: lds-topics 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-topics div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
}
.lds-topics div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
}
.lds-topics div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
}
@keyframes lds-topics {
	0% {
		top: 8px;
		height: 64px;
	}
	50%, 100% {
		top: 24px;
		height: 32px;
	}
}


.fwp{
	float: left;
	width: 100%;
	position: relative;
}

.topicslist .topicwrapper{
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.topicslist .topicwrapper iframe{
	border:0;
	height: 350px;
	overflow: hidden;

}

body{
	margin: 0px;
	padding: 0px;
	background-color: #ECECEC;
	padding-top: 78px;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
div.container{
	width: 940px;
}
button{
	transition: 0.23s;
}
.bg_cover{
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
a, a:hover, a:active, a:focus{
	text-decoration: none;
}
.flex{
	display: flex;
}
.fg1{
	flex-grow: 1;
}


@font-face{
    font-family: GlosaHeadline;
    src: url(../r/fonts/GlosaHLB.ttf);
}

/* --- GIORGIO SANS ---- */
@font-face{
    font-family: gs;
    src: url(../r/fonts/gs.otf);
}
@font-face{
    font-family: gslight;
    src: url(../r/fonts/gs-light.ttf);
}
@font-face{
    font-family: gsbold;
    src: url(../r/fonts/gs-bold.ttf);
}

/*==== fuentes ====*/
.font1{
	font-family: GlosaHeadline;
}


/*--------- header ------------*/
#siteHeader{
	position: fixed;
	z-index: 99999999;
	box-shadow: 0px 3px 12px 0px rgba(68, 68, 68, 0.46);
	top: 0px;
}


.sh_topBar{
	/*padding: 5px;*/
	background-color: #fff;
	height: 48px;
	/*padding-left: 93px;*/
}
.sh_bottomBar{
	background-color: #027651;
	/*padding: 5px;*/
	height: 30px;
	/*padding-left: 93px;*/
}

.sh_logo{
	height: 78px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	z-index: 99;
}
.sh_logo img{
	height: 100%;
}

.shtb_ul, .shbb_ul{
	padding: 0px;
	padding-left: 110px;
	float: left;
	margin-bottom: 0px;
	overflow: hidden;
	height: 49px;
}
.shtb_ul{ padding-left: 100px; }
.shtb_ul a:hover, .shbb_ul a:hover{ opacity: 0.5 !important; color: #000; }
.shtb_ul li{
	margin-right: 2px;
    float: left;
    padding: 11px 8px;
    /*background-color: #ffb0b0;*/
    list-style: none;
    font-size: 19px;
    color: #000;
    font-weight: bold;
}

.shbb_ul li, .shbb_ul a, .shbb_ul a:hover{
	color: #fff;
}
.shbb_ul li{
	margin-right: 2px;
    float: left;
    /*padding: 11px 15px;*/
    margin-right: 22px;
    /*background-color: #ffb0b0;*/
    list-style: none;
    font-size: 12px;
	color: #fff;
	font-family: Helvetica;
	margin-top: 7px;
    font-weight: normal;
}
.shbb_ul li.noMargin{
	margin-right: 0px;
}

.shtb_btn{
	float: right;
    padding: 5px 21px;
    border-radius: 300px;
    background-color: #017651;
    line-height: 12px;
    outline: none;
    border: none;
    transition: none;
    color: #fff;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 20px;
}
.shtb_btn:hover{
    background-color: #005B38;
}
.shtb_btn *{ float: left; }
.shtb_btn i{
	font-size: 19px;
}
.shtb_btn span{
	float: left;
    font-size: 13px;
    color: #fff;
    margin-top: 4px;
    margin-left: 5px;
}
.shtb_invisibleBTN{
	float: right;
    margin-left: 3px;
    font-size: 15px;
    outline: none;
    color: #575757;
    transition: none;
    line-height: 12px;
    border: none;
    margin-top: 5px;
     background-color: transparent; 
    padding: 5px 3px;
}
.shtb_invisibleBTN:hover{
	color: #444444;
}

/*fin del header ---------------------*/



/*anuncio*/
.bannerFW{
	height: 90px;
    margin-top: 32px;
    background-color: #aac5d2;
    margin-bottom: 32px;
}
.shtb_right{
	position: absolute;
	right: 15px;
	top: 0px;
}

/*---- fin del anuncio ----*/


.sectionTitle{
	font-size: 42px;
	float: left;
	color: #000;
	font-family: gslight;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.sectionDesc{
	font-size: 13px;
	margin-top: 0px;
	color: #a0a2a2;
	margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px;
}

.articleMoreBtn{
	position: absolute;
    right: 0px;
    bottom: -9px;
    font-size: 9px;
    color: #656565;
    background-color: transparent;
    border: none;
    padding: 3px 3px;
    line-height: 12px;
    outline: none !important;
}

.article-box .author, .article-box .author:hover{ text-decoration: none; }
.article-box .author:hover{ opacity: 0.5; }

.enPortada{
	margin-top: 48px;
}




/*----- TEMA ------*/
.temaTitle{
	font-size: 16px;
    font-weight: 100;
    color: #000;
	font-family: Roboto;
	text-transform: uppercase;
}

.psItemsCont{
	white-space: nowrap;
	/*overflow: hidden;*/
	margin-top: 10px;
	margin-bottom: 20px;
}

.postSliderItem{
	display: inline-block;
	width: 100%;
	white-space: normal;
	margin-right: 10px;
}
.owl-nav > button{
	padding: 5px 1px !important;
    border-radius: 300px !important;
    width: 40px !important;
    height: 40px !important;
    font-size: 27px !important;
    color: #007550 !important;
    cursor: pointer !important;
    text-align: center !important;
    position: absolute !important;
    background-color: #E3E3E3 !important;
    top: 110px !important;
    border: none !important;
}
.owl-nav > button:hover{
	background-color: #D3D3D3 !important;
}
.owl-nav > button i{
	font-size: 30px !important;
}
.owl-nav > button.owl-prev{ left: -60px !important }
.owl-nav > button.owl-next{ right: -60px !important; }

.sliderBolitas{
	display: inline-block;
	width: 120px;
	height: 20px;
	margin-bottom: 40px;
}

.sbItem{
	width: 10px;
	height: 10px;
	background-color: #D1D1D1;
	border-radius: 300px;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}
.sbItem.active{
	background-color: #818181;
}

.loadmoreBTN{
    margin-top: 5px;
    margin-bottom: 60px;
    width: 35px;
    height: 35px;
    border-radius: 300px;
    border: 1px solid #575757;
    background-color: transparent;
    padding: 0px 0px;
    cursor: pointer;
    color: #A7A7A7;
    padding-top: 5px;
    position: relative;
    text-align: center;
    display: inline-block;
}
.loadmoreBTN:after{
	content: 'Mostrar más';
    white-space: nowrap;
    left: -29px;
    right: 0px;
    margin: auto;
    bottom: -30px;
    position: absolute;
    font-size: 13px;
    width: 87px;
    color: #A7A7A7;
    text-transform: uppercase;
}
.loadmoreBTN:hover, .loadmoreBTN:hover:after{
	/*background-color: #444;*/
	color: #575757;
}



#onesignal-button{
	background-color: #027651;
	padding: 5px 15px;
	margin-top: 10px;
	color:#FFF;
	border-radius: 300px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.50);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.50);
	transition: 0.23s;
	font-weight: 100 ;
}	

#onesignal-button:hover{
	background-color: #006444;
}

/*------- BOTON DE SEGUIR --------*/
.seguirBTN{
	background-color: #027651;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	margin-right: 5px;
	padding: 5px 10px;
	margin-bottom: 10px;
	border-radius: 400px;
	border: none;
	text-transform: uppercase;
}
.seguirBTN:hover{ background-color: #015E41; }
.seguirBTN:last-child{
	margin-right: 0px;
}
.seguirBTN i{
	margin-right: 5px;
	height: 10px;
	float: left;
	color: #fff;
	font-size: 18px;
}
.seguirBTN span{
	    float: left;
    /*margin-top: 2px;*/
    padding-right: 10px;
    font-size: 13px;
}
.seguirBTN.active{
	background-color: transparent;
	border: 1px solid #027651;
}
.seguirBTN.active:hover{ border-color: #015E41; }
.seguirBTN.active span, .seguirBTN.active i{ color: #015E41; }
.seguirBTN.active:hover span, .seguirBTN.active:hover i{ color: #015E41; }

/*--------- FIN DEL BOTON DE SEGUIR ------*/


.temasQueSigo{
	margin-bottom: 60px;
}

.articulosGuardados{
	background-color: #fff;
	padding: 40px 0px;
}


.ag_main_post_item{
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.16);
	transition: 0.23s;
}
.ag_main_post_item:hover{
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.16);
}
.agmpi_img{
	height: 292px;
	background-color: #ffb0b0;
}
.tagLink{
	text-decoration: none;
	color: #34BFD6;
	text-transform: uppercase;
}
.tagLink:hover{
	color: #34BFD6;
	opacity: 0.5;
}
.agmpi_info{
	padding: 14px;
	background-color: #fff;
}
.agmpi_title{
	font-size: 23px;
	color: #000;
	text-transform: none;
	height: 110px;
	font-family: GlosaHeadline;
}


.agsp_img{
	width: 150px;
	height: 90px;
	float: left;
	background-size: cover;
}
.agsp_info{
	/*width: calc(100% - 150px);*/
	width: 100%;
	padding-left: 10px;
	float: left;
	position: relative;
}
.agspi_name{
	font-size: 16px;
	height: 60px;
	line-height: 18px;
	color: #000;
}

.agsp_info a{
	font-size: 13px;
}

.ag_side_post{
	border-bottom: 1px solid #eaeaea;
	padding: 15px 0px;
	display:flex;

}

.ag_side_post:first-child{
	padding-top: 0px;
}

.ag_sidePostCont{
	height: 464px;
	overflow: hidden;
	padding-right: 15px;
}

.topicslist{
	display:flex;
	flex-direction: column;
}



.instagramSection{
	background: transparent -webkit-linear-gradient(203deg, #FFAFBD 0%, #FFC3A0 100%) 0% 0% no-repeat padding-box;
	background: transparent -o-linear-gradient(203deg, #FFAFBD 0%, #FFC3A0 100%) 0% 0% no-repeat padding-box;
	background: transparent linear-gradient(293deg, #FFAFBD 0%, #FFC3A0 100%) 0% 0% no-repeat padding-box;
	padding: 37px 0px;
	padding-bottom: 47px;

}

.isBTN{
	padding: 9px 25px;
    border-radius: 300px;
    margin-top: 12px;
    line-height: 12px;
    background-color: #fff;
    font-size: 15px;
	cursor: pointer;
    float: right;
    border: none;
}
.isBTN:hover{
    background-color: #F3F3F3;
}
.isBTN img{
	height: 20px;
	float: left;
	margin-right: 6px;
}
.isBTN span{
	float: left;
	margin-top: 4px;
}


.is_bigTitle{
	font-size: 42px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: gs;
}

.is_squaredImg{
	width: 228px;
	height: 228px;
	float: left;
	background: rgba(0,0,0,0.2);
	margin-left: 1px;
	margin-bottom: 2px;
	margin-right: 1px;
}
/*.is_squaredImg:last-child{ margin-right: 0px; }*/
/*.is_squaredImg:first-child{ margin-left: 0px; }*/

.isItemsCont{
	margin-top: 20px;
}



.post_dropdown_more{
	position: absolute;
    right: 0px;
    bottom: 0px;
    margin-top: 12px;
    margin-bottom: auto;
    top: 24px;
}
.pdm_button{
	padding: 0px 1px;
    color: #777;
    /*position: absolute;*/
    /*right: 0px;
    float: right;*/
    line-height: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
	border-color: transparent;
	display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.pdm_button:hover{
	color: #000;
}
.pdm_box{
	padding: 10px 0px;
    border-radius: 5px;
    background-color: #fff;
    margin: 0px;
    width: 163px;
    display: none;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    /* left: 0px; */
    top: 30px;
    z-index: 99;
    right: 0px;
}
.post_dropdown_more:hover .pdm_box{ display: block; }
.pdm_box li{
	float: left;
	width: 100%;
	padding: 5px 15px;
	/*background-color: #ffb0b0;*/
	list-style: none;
	cursor: pointer;
}
.pdm_box li:hover{
	background-color: #f7f7f7;
}
.pdm_box li i{
	float: left;
	font-size: 16px;
	color: #c5c5c5;
	margin-top: 2px;
}
.pdm_box li span{
	float: left;
	color: #333;
	margin-left: 10px;
}
.pdm_box:after{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 11px 10px;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	right: 5px;
	top: -11px;
}

.psItemsCont .post_dropdown_more{
	/*top: -110px;*/
	
}
.psItemsCont .pdm_box{
	/*top: -108px;*/
}
.psItemsCont .pdm_box:after{
	/*bottom: -11px;
	transform: rotate(180deg);
	top: auto;*/
}
.whiteFooterCont{
	background-color: #fff;
	/*padding: 40px 0px;*/
	padding-bottom: 50px;
}



.twitterSection{
	background-color: transparent;
	padding: 40px 0px;
}

.twitterSection .isBTN{
	background-color: #1DA1F2;
	color: #fff;
}

.twitterSection .isBTN:hover{
    background-color: #1898E7;
}
.twitterSection .isBTN svg{ background-color: #fff; }


.tw_phantom{
	width: 293px;
	border-radius: 5px;
	height: 488px;
	float: left;
	background: rgba(0,0,0,0.2);
	/*margin-left: 1px;*/
	margin-bottom: 2px;
	margin-right: 20px;
}
.tw_phantom:last-child{ margin-right: 0px;  }






/*---------- SIDE BAR -----------*/
.sidebar_cont{
	position: fixed;
    width: 300px;
    background-color: #fff;
    right: -400px;
    top: 0px;
    min-height: 100vh;
    max-height: 100vh;
    box-shadow: -5px 0px 18px 0px rgba(0, 0, 0, 0.07);
    z-index: 9999999999;
    padding: 20px;
}
.sbc_user{
	background-color: #f1f1f1;
	padding: 15px 20px;
	border-radius: 3px;
	padding-bottom: 18px;
	display: flex;
	align-items: center;
    flex-direction: row;
    justify-content: start;
}
.sbc_user:hover{
	background-color: #eaeaea;
}
.sbcu_pic{
	width: 30px;
	height: 30px;
	/*display: inline-block;*/
	margin-right: 10px;
	background-color: #d6d6d6;
	border-radius: 300px;
	/*margin-bottom: -9px;*/
}
.sbcu_name{
	/*display: inline-block;*/
	color: #444;
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}

.sbcu_links{
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
}
.sbcu_links li{
	float: left;
	width: 100%;
	list-style: none;
	padding: 15px 20px;
	border-bottom: 1px solid #efefef;
	font-size: 14px;
	color: #444;
	cursor: pointer;
}
.sbcu_links li:hover{
	color: #000;
}

.sbcu_icon{
	margin-top: 60px;
    display: inline-block;
    height: 200px;
}

/*======== FIN DEL SIDEBAR =============*/




/*perfil de usuario*/
.user_header{
	padding-bottom: 30px;
	border-bottom: 1px solid #dedede;
	margin-bottom: 40px;
	margin-top: 40px;
}
#user_header{
	justify-content: space-between;
	display:flex;
	align-items: center;
}
.uh_pic{
	width: 63px;
	height: 63px;
	/*border-radius: 300px;*/
	border-radius: 50%;
	float: left;
	margin-right: 20px;
	background-color: #dadada;
}
.uh_pic i{
	font-size: 17px;
	color: #333;
}
.uh_info{
	float: left;
	/*width: */
}
.hui_link{
	color: #007550;
	font-size: 12px;
}
.hui_link:hover{
	color: #06543A;
}
.hui_name{
	font-size: 23px;
	color: #444;
}
.hui_info{
	font-size: 13px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.uh_bigButton{
	float: right;
    width: 135px;
    padding: 10px 0px;
    text-align: center;
    font-size: 12px;
    color: #000;
    background-color: #E5E5E5;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 12px;
}
.uh_bigButton:hover{
	background-color: #DBDBDB;
}
.uh_bigButton.active, .uh_bigButton.active:hover{
	background-color: #CCCCCC;
}


.dlgreen{
	color: #007550;
}
.countBigTag{
	padding: 10px 14px;
    font-weight: bold;
    background-color: #dadada;
    color: #505050;
    display: inline-block;
    margin-left: 10px;
    margin-top: 9px;
    font-family: Roboto;
    float: left;
    line-height: 12px;
    font-size: 14px;
    border-radius: 3px;
}

.uc_buscador{
	/*float: right;*/
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 99;

	/*background-color: #fff;*/
}
.uc_buscador input{
	float: right;
    width: 303px;
    padding: 10px 20px;
    background-color: #fff;
    /* box-shadow: 0px 0px 9px #2d2d2d; */
    border-radius: 3px;
    font-weight: normal;
    border: none;
}
.uc_buscador i{
	position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    font-size: 25px;
    color: #bdbdbd;
}



.nubeDeTemas{
	margin-top: 18px;
	margin-bottom: 30px;
}
.temaBTN1{
	    padding: 4px 5px;
    border-radius: 300px;
    border: 1px solid #d4d4d4;
    margin-bottom: 10px;
    /* float: left; */
    display: inline-block;
    margin-right: 10px;
    line-height: 12px;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    align-items: center;
}
.temaBTN1 a{
	float: left;
	margin-top: 8px;
}
.tbtn{
	padding: 5px 0px;
	text-align: center;
	width: 28px;
	height: 28px;
	border-radius: 300px;
	line-height: 12px;
	font-size: 13px;
	border: none;
	outline: none;
	border-radius: 300px;
	/*margin-top: 1px;*/
	cursor: pointer;
	outline: none !important;
	color: #fff;
	background-color: #007550;
}
.tbtn:hover{
	background-color: #055C40;
}
.temaBTN1 span{
	/*float: left;*/
    margin-top: 8px;
    line-height: 12px;
    margin-right: 10px;
    /* padding-left: 10px; */
    /*margin-left: 10px;
    padding-bottom: 3px;*/
    font-style: 15px;
    /* text-decoration: underline; */
    border-bottom: 1px dotted #444;
    text-transform: capitalize;
    color: #000;
}

.temaBTN1 a span{
    margin-left: 10px;
}

.tbtn i{
	font-size: 18px;
}

.tbtn.active{
	background-color: transparent;
	border: 1px solid #007550;
	color: #007550;
}
.tbtn.active:hover{
	background-color: rgba(0, 117, 80, 0.21);
}

.tbtn.active:hover::after i{
	content:"clear";
}

.tbtn.active i{
	color: #007550;
}

.ag_more{
	margin-top: 30px;
	display:none;
}
.guardadosPosts{
	padding: 20px;
	background-color: #fff;
	margin-bottom: 40px;
}

.temaBTN1 .tbtn_separador{
	width: 1px;
    background-color: #d6d6d6;
    height: 17px;
    position: relative;
    padding: 0px;
    float: left;
    border-bottom: none;
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 10px;
}
/*
.ag_sidePostCont{
	margin-top: 20px;
	overflow: unset;
	height: auto;
}
.agsp_img {
    width: 127px;
    height: 106px;
    border-radius: 5px;
    float: left;
}
.agspi_name {
    font-size: 16px;
    height: 71px;
    line-height: 18px;
    color: #000;
}
.agsp_info{
	padding-left: 15px;
}

.articulosGuardados .loadmoreBTN{
	margin-top: 30px;
	margin-bottom: 30px;
}

.desktopCarrusel .owl-dots{
	margin-top: 20px;
}


/*--- PERFIL DE USUARIO - INFORMACION ----*/
.userconfig_box{
	width: 630px;
    /*height: 400px;*/
    display: inline-block;
    margin-bottom: 40px;
}
.userconfig_box > div{ height: 100%; }
.ucb_leftCol{
    /*background-color: #ffb0b0;*/
	min-width: 200px;
	max-width: 200px;
}
.ucb_rightCol{
	/*background-color: #ffb0b0;*/
	padding-left: 40px;
	text-align: left;
}
.ucblc_img{
	width: 140px;
	height: 140px;
	border-radius: 300px;
	background-color: #444;
	margin-top: 20px;
	display: inline-block;
	margin-bottom: 5px;
}

.vincular_cuenta{
	margin-top: 15px;
}
.vc_title{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}
.vincular_cuenta .sbr_btn{
	padding: 6px 10px;
}
.uc_changePincture{
	font-size: 13px;
	color: #017651;
}

.vc_btn{
	padding: 6px 5px;
	background-color: #fff;
	border-radius: 300px;
	font-size: 14px;
	cursor: pointer;
	border: none;
	margin-top: 10px;
	width: 100%;
}
.vc_btn:hover{
	background-color: #dedede;
}
.ucbrc_pack{
	float: left;
	margin-right: 10px;
}
.ucbrc_pack input, .ucbrc_pack select{
	width: 100%;
	padding: 10px 10px;
	border-radius: 3px;
	margin-top: 5px;
	font-size: 14px;
	border: none;
	outline: none;
	height: 41px;
	background-color: #fff;
	/*box-shadow: 0px 0px 4px #000;*/
}
.nm{ margin-right: 0px !important; }
.ucbrc_pack.name{ width: 150px; }
.ucbrc_pack.lname{ width: calc(100% - 150px - 10px); }

.ucbrc_pack.pais{
	margin-top: 20px;
	margin-bottom: 20px;
}

.ucbrc_pack.date, .ucbrc_pack.genero{
	width: calc(50% - 5px);
	margin-right: 0px;
}
.ucbrc_pack.date{
	margin-right: 10px;
}
.ucbrc_submit{
	width: 100%;
	border-radius: 300px;
	background-color: #007550;
	padding: 10px 20px;
	color: #fff;
	border: none;
	margin-top: 30px;
	cursor: pointer;
}
.ucbrc_submit:hover{
	background-color: #026747;
}
.vc_btn.fb{ color: #004AB1; }
.vc_btn.gl{ color: #CC003D; }
.vc_btn img{
	height: 14px;
	margin-right: 5px;
}

.nb_title{
	text-align: left;
	float: left;
	font-size: 16px;
	font-weight: bold;
}
.nb_desc{
	font-size: 13px;
	text-align: left;
	margin-bottom: 30px;
	color: #797979;
}

#nbItems{
	/*margin-top: 20px;*/
}

.email_flex{
	flex-direction: column;
	width: 100%;
	margin-bottom: 19px;
}

.boxsubmit{
	height: 130px;
}

.nb_item{
	background-color: transparent;
	padding: 5px 10px;
	border-radius: 300px;
	border: 0px;
	border: 1px solid #CBCBCB;
    margin-bottom: 20px;
	/*font-size: 12px;*/
}
.opinion:hover:after{ border: none !important; }
.nb_item > span{
	    float: left;
    font-size: 14px;
    color: #000;
    margin-top: 4px;
    margin-left: 10px;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 133px;
}
.nb_item button{
	padding: 3px 20px;
    font-size: 13px;
    color: #fff;
    border: none;
    line-height: 12px;
    outline: none;
    cursor: pointer;
    border-radius: 300px;
    float: right;
	background-color: #007550;
	align-items: center;
}
.nb_item button:hover{
    background-color: #006444;
}
.nb_item button i{ font-size: 20px; }
.nb_item button *{ float: left; }
.nb_item button span{ 
	margin-left: 5px; 
	font-size: 13px;
	margin-top: 5px; 
	color: #fff; 
}
.nb_item button.flex span{
	margin: 0;
}

.nb_item.active button{ background-color: transparent; border: 1px solid #007550; }
.nb_item.active button:hover{ background-color: rgba(255,255,255,0.35); }
.nb_item.active  button *{ color: #007550; }

.nb_item.flex{
	justify-content: space-between;
	align-items: center;
}

.nb_item.flex > span{
	margin-top: 0;
	min-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}


/*.nb_item.deportes{ background-color: #FF3333; }
.nb_item.estilos{ background-color: #35B3AC; }
.nb_item.economia{ background-color: #337EC0; }
.nb_item.actualidad{ background-color: #337EC0; }
.nb_item.opinion{ background-color: #006B4B; }
.nb_item.revista{ background-color: #FF338D; }


.nb_item.active.deportes button *{ color: #FF3333 !important; }
.nb_item.active.estilos button *{ color: #35B3AC !important; }
.nb_item.active.economia button *{ color: #337EC0 !important; }
.nb_item.active.actualidad button *{ color: #337EC0 !important; }
.nb_item.active.opinion  button *{ color: #006B4B !important; }
.nb_item.active.revista button *{ color: #FF338D !important; }*/


.notiSeparador{
	height: 1px;
	border-bottom: 1px solid #dcdcdc;
	margin-top: 40px;
	margin-bottom: 40px;
}
.notiBox.last{
	margin-bottom: 60px;
}



/*---- 	MODAL     ---*/
/*estilos generales*/
.pop-up-bg{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 99999999999;
	left: 0px;
	top: 0px;
}
.pop-up{
	position: fixed;
	width: 500px;
	height: 420px;
	background-color: #fff;
	border-radius: 13px;
	padding: 30px;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 20px;
	z-index: 999999999991;
}



/*newsletter*/
#newsletterModal{
	/*position: absolute;*/
	padding: 0px;
	height: 761px;
	width: 480px;

}
.nlm_header{
	background-color: #ffb0b0;
	height: 278px;
}

/*----- FIN DEL MODAL ----*/

.shbb_ul{ height: 30px;  }



.sbr_tabs{
	float: left;
	margin-left: -40px;
	margin-right: -40px;
	background-color: #f4f4f4;
	padding: 25px;
	padding-bottom: 0px;

	width: calc(100% + 80px);
	margin-top: -35px;
	margin-bottom: 50px;
}
.sbr_tabs li{
	    float: left;
    padding: 15px 20px 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    list-style: none;
    cursor: pointer;
    width: 50%;
    border-radius: 5px 5px 0px 0px;
}
.sbr_tabs li:hover{
	background-color: #efefef;
}
.sbr_tabs li.active, .sbr_tabs li.active:hover{
	background-color: #fff;
	cursor: default;
}

.signupBox.login .sbr_btn.social{
	width: calc(50% - 10px);
	margin-right: 20px;
}
.signupBox.login .sbr_btn.social:last-child{
	margin-right: 0px;
}

.signupBox.login .sbr_input{
	float: left;
    width: 100%;
    position: relative;
    padding: 11px 20px;
    margin-bottom: 15px;
    border: 1px solid #DDDDDD;
    font-size: 13px;
    outline: none;
}

.sbr_maindesc{
	font-size: 14px;
	color: #444;
	margin-bottom: 30px;
	margin-top: -10px;
	display: none;
	text-align: left;
}

/*.sbrSignupCont{ margin-top: 20px; }*/
.overlayForm{
	align-self: center;
	justify-self: center;
	width: 100%;
}
.overlayForm a{
	color:#FFF;
}

.sbrSignupCont .sub{
	width: calc(50% - 10px) !important;
}

#perfil_tabs.sbr_tabs{
	margin: 0;
	padding: 0;
	align-content: stretch;
	width: auto;
	float:none;
}
#perfil_tabs.sbr_tabs li{
	width: auto;
}
.user_meta{
	display: flex;
}





.nav-tabs .nav-link{
	color: #000;
    text-align: center;
    font-family: roboto;
    font-size: 22px;
    padding: 16px 0px;
    width: 100%;
    border-radius: 6px 6px 0px 0px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #000000;
    background-color: #fff;
    border-color: #ddd #ddd #fff;
}


.agsp_favBtn{
	    float: right;
    padding: 0px 0px;
    line-height: 12px;
    border: none;
    background-color: transparent;
    color: #c7c7c7;
    position: absolute;
    right: 20px;
    cursor: pointer;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.agsp_favBtn i{
	font-size: 26px;
}
.agsp_favBtn.active{
	color: #007550;
}

.sbr_btn.social img {
    height: 18px;
    margin-top: -3px;
    margin-right: 3px;
}

.sbc_logout_btn{
	    width: calc(100% - 40px);
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 10px 0px;
    font-size: 14px;
    background-color: #eaeaea;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.sbr_btn.social img{
	height: 18px;
    margin-top: -3px;
    margin-right: 3px;
}
.sbr_btn{
	width: 100%;
	position: relative;
	background-color: #444;
	color: #fff;
	float: left;
	padding: 9px 10px;
	border: none;
	border-radius: 300px;
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 10px;
}
.sbr_btn.fb{ background-color: #3C5A96 }
.sbr_btn.gl{ background-color: #8B3636 }
.sbr_btn.email{ 
	background-color: #007550;
	margin-top: 2px; 
}

.sbr_btn.fb:hover{ background-color: #355186 }
.sbr_btn.gl:hover{ background-color: #7C2F30 }
.sbr_btn.email:hover{ background-color: #026546; }




@media screen and (max-width: 864px){
	.agsp_favBtn{
	    position: absolute;
	    right: 0px;
	    height: 30px;
	    margin-bottom: -5px;
	}
}
@media screen and (max-width: 430px){
	.agsp_img{
		width: 110px;
	}
	.agsp_info {
	    width: calc(100% - 110px);
	}
	.agspi_name{
		height: auto;
		min-height: 60px;
	}

}

/*@media screen and (max-height: 637px) and (max-width: 343px){*/
@media screen and (max-height: 637px){ .sbcu_icon{ height: 190px; margin-top: 50px; } }
@media screen and (max-height: 617px){ .sbcu_icon{ height: 170px; margin-top: 40px; } }
@media screen and (max-height: 577px){ .sbcu_icon{ height: 150px; margin-top: 30px; } }
